.nav
	ul.nav__list.list#top-nav-list
		li.menu-item: a( href="#" ) Наука
		li.menu-item: a( href="#" ) Международная работа
		li.menu-item.has-sub-menu
			a( href="#" ) Информация
			ul.sub-menu
				li.menu-item: a( href="#" ) Доступ к публичной инфонмации
				li.menu-item: a( href="#" ) Регистрационные документы
				li.menu-item: a( href="#" ) Образовательные программы
				li.menu-item: a( href="#" ) Лицензия на осуществление образовательной деятельности
				li.menu-item: a( href="#" ) План государственных закупок
				li.menu-item: a( href="#" ) Противодействие коррупции
				li.menu-item: a( href="#" ) Годовой отчёт
		li.menu-item.has-sub-menu
			a( href="#" ) WEB-ресурсы
			ul.sub-menu
				li.menu-item: a( href="#" ) Старый сайт
				li.menu-item.has-sub-menu
					a( href="#" ) Библиотечные ресурсы
					ul.sub-menu
						li.menu-item: a( href="#" ) Электронный каталог НТБ
						li.menu-item: a( href="#" ) Электронный репозиторий
						li.menu-item: a( href="#" ) Научно-техническая библиотека
				li.menu-item.has-sub-menu
					a( href="#" ) Образовательные ресурсы
					ul.sub-menu
						li.menu-item: a( href="#" ) Методические материалы
						li.menu-item: a( href="#" ) Прграммы вступительных экзаменов
						li.menu-item: a( href="#" ) Расписание занятий
						li.menu-item: a( href="#" ) Дистанциооное обучение