form.comments__form.form(action="#", method="post")
	.form-group
		label( for="contacts-msg" ) Коментарий:
		textarea.form-control#comment-msg( name="msg", placeholder="remarknce, pronouncement, judgement, reflection, opinion, view, criticism", required )
	.form-group
		label(for="comment-user") Ваше имя
		input.form-control#comment-user( type="text", placeholder="Name" )
	.form-group
		label( for="comment-email" ) Ваш email
		input.form-control#comment-email( type="email", placeholder="email@example.com" )
	.form-group
		label( for="comment-site" ) Ваш сайт
		input.form-control#comment-site( type="text", name="site", placeholder="http://example.com" )
	.form-group
		button.btn.btn-block.btn-success Опубликовать комметарий