form.searchform.form( role="search", method="get", action="#" ): .form-group: .input-group
	input.form-control( type="text", value="", name="s" )
	button.searchsubmit.btn.btn-success( type="submit" ) Найти