/**
 *	Variables
 *	переменные
 */


// $line-height-base:         18px;
// $line-height:              1.5em;
// $font-size-base:           13px;

$line-height-base:         1.4em;
$font-size-base:           13px;

$font-color-default:       #262626;
$link-color-default:       #890000;

$brand-default:            #efefef;
$brand-primary:            #0c426f;
// $brand-success:            #469411;
$brand-success:            #28b7dd;
$brand-warning:            #d87200;
// $brand-info:            #5bc0de;
$brand-info:               #0098a4;
// $brand-danger:             #ff0000;
$brand-danger:             #971b2f;

$brand-slider-btn:         #ec4a0c;


$border-color-default:     #555555;

$body-background-color:    #fff;

$screen-sm:                48em;
$screen-md:                62em;
$screen-lg:                75em;
