// @import "../helpers/extends.icons.scss";

.to-top-btn {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border: 2px solid $brand-primary;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 5px #262626, inset 0px 0px 5px rgba( 0, 0, 0, 0.75 );
	z-index: 999;
	color: #fff;
	background-color: rgba( 0, 0, 0, 0.15 );
	font-size: 0px;
	line-height: 0px;
	padding: 0px;;
	&:before {
		@extend %background-icon;
		@extend %icon-double-arrow;
		content: '';
		width: 30px;
		height: 30px;
		display: inline-block;
	}
	&:hover {
		background-color: $brand-primary;
	}
}