//
//	Виджет Wordpress Календарь
//

.calendar_wrap {

	table {
		width: 100%;
		text-align: center;
	}
	caption {
		text-align: center;
		font-weight: bold;
	}
	th {
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid #888;
		padding: 5px 3px;
		color: #fff;
		text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.75 );
		background-color: lighten( $brand-primary, 50% );
	}
	td {
		padding: 5px 3px;
	}
	a {
		font-weight: bold;
	}

}