-
  var blog = {
    name: 'ДВНЗ ПДТУ',
    description: 'Государственное высшее учебное заведение III-IV уровня акредитации. Основан в 1930 году.',
  }
  var page = {
    title: blog.name,
    excerpt: blog.description,
    type: 'home',
  }
  var src = {
  	img: './images/',
  	js: './scripts/',
  	css: './styles/',
  }