/**
 *	Variables
 *	переменные
 */


$line-height-base:			18px;
$font-size-base:				13px;

$font-color-default:		#262626;
$link-color-default:		#890000;

$brand-default:					#efefef;
$brand-primary:					#0c426f;
$brand-success:					#469411;
$brand-warning:					#d87200;
// $brand-info:            #5bc0de;
$brand-info:						#0098a4;
$brand-danger:          #ff0000;



$border-color-default: 	#555555;


$screen-sm:							48em;
$screen-md:							62em;
$screen-lg:							75em;