//-
	Иконки файлов

h2 Иконки

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12: table.table-primary
		thead
			th Иконка
			th Класс
			th Код
		tbody
			tr
				td.bg-primary.text-center: i.file.file-pdf
				td: code file file-pdf
				td: div: pre: code.language-markup &lt;i class="file-pdf"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.file.file-xls
				td: code file file-xls
				td: div: pre: code.language-markup &lt;i class="file-xls"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.file.file-doc
				td: code file file-doc
				td: div: pre: code.language-markup &lt;i class="file-doc"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.file.file-zip
				td: code file file-zip
				td: div: pre: code.language-markup &lt;i class="file-zip"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.file.file-ppt
				td: code file file-ppt
				td: div: pre: code.language-markup &lt;i class="file-ppt"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.file.file-txt
				td: code file file-odt
				td: div: pre: code.language-markup &lt;i class="file-odt"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.file.file-psd
				td: code file file-psd
				td: div: pre: code.language-markup &lt;i class="file-psd"&gt;&lt;/i&gt;
hr