//-
	Списки



h2 Списки


.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: ul
		li lorem ipsum dolor sit amet, consectetur adipisicing
		li lorem ipsum dolor sit amet, consectetur adipisicing
			ul
				li lorem ipsum dolor sit amet, consectetur adipisicing
				li lorem ipsum dolor sit amet, consectetur adipisicing
		li lorem ipsum dolor sit amet, consectetur adipisicing
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;ul&gt;
			&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
			&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing
				&lt;ul&gt;
					&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
					&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
			&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
		&lt;/ul&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: ol
		li lorem ipsum dolor sit amet, consectetur adipisicing
		li lorem ipsum dolor sit amet, consectetur adipisicing
			ol
				li lorem ipsum dolor sit amet, consectetur adipisicing
				li lorem ipsum dolor sit amet, consectetur adipisicing
		li lorem ipsum dolor sit amet, consectetur adipisicing
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;ol&gt;
			&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
			&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing
				&lt;ol&gt;
					&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
					&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
				&lt;/ol&gt;
			&lt;/li&gt;
			&lt;li&gt;lorem ipsum dolor sit amet, consectetur adipisicing&lt;/li&gt;
		&lt;/ol&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: dl
		dt Идентификатор (называемый также «ID селектор»)
		dd определяет уникальное имя элемента, которое используется для изменения его стиля и обращения к нему через скрипты
		dt Селектор
		dd выбирает элементы, для которых применяются пары свойство и значение. 
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;dl&gt;
			&lt;dt&gt;Идентификатор (называемый также «ID селектор»)&lt;/dt&gt;
			&lt;dd&gt;определяет уникальное имя элемента, которое используется для изменения его стиля и обращения к нему через скрипты&lt;/dd&gt;
			&lt;dt&gt;Селектор&lt;/dt&gt;
			&lt;dd&gt;выбирает элементы, для которых применяются пары свойство и значение. &lt;/dd&gt;
		&lt;/dl&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: dl.dl-horizontal
		dt Идентификатор (называемый также «ID селектор»)
		dd определяет уникальное имя элемента, которое используется для изменения его стиля и обращения к нему через скрипты
		dt Селектор
		dd выбирает элементы, для которых применяются пары свойство и значение. 
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;dl class="dl-horizontal"&gt;
			&lt;dt&gt;Идентификатор (называемый также «ID селектор»)&lt;/dt&gt;
			&lt;dd&gt;определяет уникальное имя элемента, которое используется для изменения его стиля и обращения к нему через скрипты&lt;/dd&gt;
			&lt;dt&gt;Селектор&lt;/dt&gt;
			&lt;dd&gt;выбирает элементы, для которых применяются пары свойство и значение. &lt;/dd&gt;
		&lt;/dl&gt;


hr