//-
	Спрайты


h2 Спрайты

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12: table.table-primary
		thead
			th Иконка
			th Класс
			th Код
		tbody
			tr
				td.bg-primary.text-center: i.icon.icon-doc
				td: code 
				td: div: pre: code.language-markup &lt;i class="icon icon-doc"&gt;&lt;/i&gt;
hr