//-
	Текст

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		h2 Текст
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p Пример абзаца #[a(href="#") со ссылкой].
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p&gt;Пример абзаца &lt;a href="#"&gt;со ссылкой&lt;/a&gt;.&lt;/p&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		p Изменение размера шрифта с помощью классов #[code lead], #[code small]:
		div.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit
		div.small Lorem ipsum dolor sit amet, consectetur adipisicing elit
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p&gt;Изменение размера шрифта с помощью классов &lt;code&gt;lead&lt;/code&gt;, &lt;code&gt;small&lt;/code&gt;:&lt;/p&gt;
		&lt;div class="lead"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit&lt;/div&gt;
		&lt;div class="small"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit&lt;/div&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.text-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.text-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.text-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="text-primary"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
		&lt;p class="text-success"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
		&lt;p class="text-warning"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
		&lt;p class="text-danger"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		p.bg-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.bg-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.bg-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.bg-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="bg-primary"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
		&lt;p class="bg-success"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
		&lt;p class="bg-warning"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
		&lt;p class="bg-danger"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;

hr