//-
	Well



h2 Well #[small (доступно в Гутенберг)]

.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p.well Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus modi fugit, dolore libero, voluptas cum, qui a, et eos minus repellat enim magnam consectetur veritatis ab mollitia molestiae iure beatae?
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="well"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Temporibus modi fugit, dolore libero, voluptas cum, qui a, et eos minus repellat
		enim magnam consectetur veritatis ab mollitia molestiae iure beatae?&lt;/p&gt;
                
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p.well.well-sm Lorem ipsum dolor sit amet, consectetur adipisicing elit.Iste sed harum veritatis porro laudantium amet. Neque cumque, commodi quia nostrum! Doloremque pariatur voluptates, cum debitis autem sapiente praesentium ad quidem!
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="well well-sm"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Iste sed harum veritatis porro laudantium amet. Neque cumque, commodi quia nostrum!
		Doloremque pariatur voluptates, cum debitis autem sapiente praesentium ad quidem!&lt;/p&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p.well.well-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit asperiores inventore velit ab beatae saepe quaerat, animi, nam soluta reiciendis, repellendus repellat, reprehenderit in quo optio nesciunt qui ducimus veritatis.
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="well well-primary"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Suscipit asperiores inventore velit ab beatae saepe quaerat, animi, nam soluta reiciendis,
		repellendus repellat, reprehenderit in quo optio nesciunt qui ducimus veritatis.&lt;/p&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p.well.well-success Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus modi fugit, dolore libero, voluptas cum, qui a, et eos minus repellat enim magnam consectetur veritatis ab mollitia molestiae iure beatae?
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="well well-success"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Temporibus modi fugit, dolore libero, voluptas cum, qui a, et eos minus repellat enim
		magnam consectetur veritatis ab mollitia molestiae iure beatae?&lt;/p&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p.well.well-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sed harum veritatis porro laudantium amet. Neque cumque, commodi quia nostrum! Doloremque pariatur voluptates, cum debitis autem sapiente praesentium ad quidem!
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="well well-info"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Iste sed harum veritatis porro laudantium amet. Neque cumque, commodi quia nostrum!
		Doloremque pariatur voluptates, cum debitis autem sapiente praesentium ad quidem!&lt;/p&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p.well.well-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit asperiores inventore velit ab beatae saepe quaerat, animi, nam soluta reiciendis, repellendus repellat, reprehenderit in quo optio nesciunt qui ducimus veritatis.
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="well well-danger"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Suscipit asperiores inventore velit ab beatae saepe quaerat, animi, nam soluta reiciendis,
		repellendus repellat, reprehenderit in quo optio nesciunt qui ducimus veritatis.&lt;/p&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p.well.well-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit asperiores inventore velit ab beatae saepe quaerat, animi, nam soluta reiciendis, repellendus repellat, reprehenderit in quo optio nesciunt qui ducimus veritatis.
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;p class="well well-warning"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Suscipit asperiores inventore velit ab beatae saepe quaerat, animi, nam soluta reiciendis,
		repellendus repellat, reprehenderit in quo optio nesciunt qui ducimus veritatis.&lt;/p&gt;


hr