//-
	Сайдбар подвала сайта. Отображается на всех страницах

mixin widget_basement( args )
	.col-xs-12.col-sm-4.col-md-3.col-lg-3: +widget( args )
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe numquam illo ex et tempora doloribus, earum molestias, laudantium repudiandae praesentium similique sed nam maxime, perspiciatis beatae! Quam velit aliquam, sit!
//
// 
aside.aside.aside--basement.bottom-xs#aside-basement: .container: .row
	+widget_basement( {} )
	+widget_basement( {} )
	+widget_basement( {} )
	+widget_basement( {} )
// 
//