//-
//- Сайдбар шапки сайта. Оображается на всех страницах сайта.
//-
mixin header_widget ( args )
	.col-xs-12.col-sm-4.col-md-6.col-lg-6
		+widget( args )
			+lorem()
//
// HEADER__ASIDE start
aside.header__aside.aside.aside--header: .row
	+header_widget( {} )
	+header_widget( {} )
// HEADER__ASIDE end
//