mixin home_widget( args )
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		+widget( args )
			if ( block )
				block
			else
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus laborum vero rem porro repellendus dignissimos eveniet molestiae, aliquam in similique iste cum amet aut ullam quibusdam soluta. Iste iusto, quidem.
//
//	START aside home
aside.aside.aside--home: .container: .row
	+home_widget( {} )
		figure.pull-left
			img( src=src.img+'user-xs.jpg' )
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, qui eum blanditiis. Velit minus repellendus, voluptatibus eveniet, odio suscipit, ullam libero mollitia quas, ipsa labore recusandae maiores cupiditate earum dolor!
		p.small.text-right.font-italic Author
	+home_widget( {} )
//	END aside home
//