// START правый сайдбар
aside.aside.aside--left
	+widget( { "title": "Меню" } )
		ul.menu
			li: a( href="#" ) Пункт №1
			li.has-sub-menu
				a( href="#" ) Пункт №2
				ul.sub-menu
					li: a( href="#" ) Пункт №2.1
					li: a( href="#" ) Пункт №2.2
					li: a( href="#" ) Пункт №2.3
			li: a( href="#" ) Пункт №3
			li: a( href="#" ) Пункт №4
			li: a( href="#" ) Пункт №5
	+widget( {} )
		include ../widgets/_tagcloud
	+widget( { title: 'Календарь' } )
		include ../widgets/_calendar
	+widget( {} )
// END правый сайдбар