mixin right_aside_widget ( args )
	.col-xs-12.col-sm-6.col-md-12.col-lg-12
		+widget( args )
			if block
				block
			else
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas expedita totam esse magnam repudiandae fugit earum possimus officia, labore, beatae nam perspiciatis minima fugiat vitae reprehenderit dolor, voluptas illum eveniet!
// START правый сайдбар
aside.aside.aside--right: .row
	+right_aside_widget( {} )
		include ../forms/_search
	+right_aside_widget( {} )
	+right_aside_widget( { title: 'Календарь' } )
		include ../widgets/_calendar
	+right_aside_widget( {} )
		ul
			li: a(href="#") Yastech Developments: The Best Web Design Company
			li: a(href="#") Best PSD Freebies: Login Form
			li: a(href="#") Wedding Photography Shoot Takes & Tricks
			li: a(href="#") Best PSD Freebies: Amazing Design Resource & Inspiration
			li: a(href="#") Best PSD Freebies: Login Form
			li: a(href="#") Wedding Photography Shoot Takes & Tricks
			li: a(href="#") Best PSD Freebies: Amazing Design Resource & Inspiration
	+right_aside_widget( {} )
// END правый сайдбар