mixin comment( args )
	-
		args.name = ( args.name ) ? args.name : 'Иванов Иван';
		args.foto = ( args.foto ) ? src.img+args.foto : src.img+'user-xs.jpg';
		args.comment = ( args.comment ) ? args.comment : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.';
	.media.comment
		.media-left.pull-left: a(href="#"): img.lazy.media-object.comment__foto.hidden-xs(src="#", data-src=args.foto, alt=args.name)
		.media-body
			h4.media-heading #{args.name}
			p #{args.comment}
			div.clearfix
				date.small.pull-left.text-info 20.05.2018
				.alignright
					.btn.btn-link(href="#", role="button") <i class="glyphicon glyphicon-pencil"></i> Редактировать
					.btn.btn-link(href="#", role="button") <i class="glyphicon glyphicon-share-alt"></i> Ответить
			if ( block )
				block
//
// комментарии
#comments.comments
	hr.separeted
	.clearfix
		h3.alignleft Комментарии:
			.alignright.small.font-normal всего 4
	.media-list
		+comment( {} )
			+comment( {} )
		+comment( {} )
		+comment( {} )
	include ../forms/_comments
// end комментарии
//