.main__info.info
	img.alignright.lazy( src="#", data-src="http://chart.apis.google.com/chart?choe=UTF-8&chld=L&cht=qr&chs=150x150&chl=http://pstu.edu/" )
	h1.title #{page.title}
	.description.excerpt: p #{page.excerpt}
	include ../components/_breadcrumb
	include ../components/_share