nav.navigation.pagination
	h2.screen-reader-text Навигация по записям
	div.nav-links
		span.page-numbers.current <span class="meta-nav screen-reader-text">Страница </span>1
		a.page-numbers(href="#") <span class="meta-nav screen-reader-text">Страница </span>2
		span.page-numbers.dots …
		a.page-numbers(href="#") <span class="meta-nav screen-reader-text">Страница </span>86
		a.page-numbers(href="#") <span class="meta-nav screen-reader-text">Страница </span>87
		a.next.page-numbers(href="#") »