nav(aria-label="...").pager.clearfix
	a.next.pager__item.item( href="#", title="Смотреть следующий пост" )
		.arrow: i.icon.icon-two-right-arrows
		h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, fugit repellendus debitis alias quasi quisquam, officia at esse dolor temporibus sit necessitatibus voluptates maxime, pariatur perferendis hic fuga. Alias, amet.
	a.previous.pager__item.item( href="#", title="Смотреть следующий пост" )
		.arrow: i.icon.icon-two-left-arrows
		h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, fugit repellendus debitis alias quasi quisquam, officia at esse dolor temporibus sit necessitatibus voluptates maxime, pariatur perferendis hic fuga. Alias, amet.