ul#rrssb-buttons.share__menu.menu.rrssb-buttons.clearfix.list-unstyled
	//- Replace subject with your message using URL Endocding: http://meyerweb.com/eric/tools/dencoder/
	li.rrssb-email: a( href="mailto:?Subject=Your%20Subject%20Here" )
		span.rrssb-icon: include ../../../src/images/share/at-symbol.svg
		span.rrssb-text email
	//- Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
	li.rrssb-facebook: a.popup( href="https://www.facebook.com/sharer/sharer.php?u=http://rrssb.ml" )
		span.rrssb-icon: include ../../../src/images/share/facebook.svg
		span.rrssb-text facebook
	//- Replace href with your URL
	li.rrssb-instagram: a( href="http://instagram.com/dbox" )
		.rrssb-icon: include ../../../src/images/share/instagram.svg
		span.rrssb-text instagram
	//- Replace href with your meta and URL information
	li.rrssb-linkedin: a.popup( href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://rrssb.ml&amp;title=Ridiculously%20Responsive%20Social%20Sharing%20Buttons&amp;summary=Responsive%20social%20icons%20by%20KNI%20Labs" )
		span.rrssb-icon: include ../../../src/images/share/linkedin.svg
		span.rrssb-text linkedin
	//- Replace href with your meta and URL information
	li.rrssb-xing: a.popup( href="https://www.xing.com/spi/shares/new?url=http://rrssb.ml" )
		span.rrssb-icon: include ../../../src/images/share/xing.svg
		span.rrssb-text xing
	//- Replace href with your Meta and URL information
	li.rrssb-twitter: a.popup( href="https://twitter.com/intent/tweet?text=http://rrssb.ml" )
		span.rrssb-icon: include ../../../src/images/share/twitter.svg
		span.rrssb-text twitter
	//- Replace href with your meta and URL information.
	li.rrssb-googleplus: a.popup( href="https://plus.google.com/share?url=http://rrssb.ml" )
		span.rrssb-icon: include ../../../src/images/share/google_plus.svg
		span.rrssb-text google+
	//-
	li.rrssb-pocket: a( href="https://getpocket.com/save?url=http://rrssb.ml" )
		span.rrssb-icon: include ../../../src/images/share/pocket.svg
		span.rrssb-text pocket
	//-
	li.rrssb-print: a( href="javascript:window.print()" )
		span.rrssb-icon: include ../../../src/images/share/print.svg
		span.rrssb-text print
	//-
	li.rrssb-whatsapp: a( href="whatsapp://send?text=Ridiculously%20Responsive%20Social%20Sharing%20Buttons%3A%20http%3A%2F%2Frrssb.ml%20%7C%20http%3A%2F%2Frrssb.ml%2Frrssb-preview.png", data-action="share/whatsapp/share" )
		span.rrssb-icon: include ../../../src/images/share/Whatsapp.svg
		span.rrssb-text Whatsapp