//
// start SOCIAL
.social: ul.list-inline.list-unstyled.social__list.list
	li: a( href="#" ): include ../../../build/images/share/at-symbol.svg
	li: a( href="#" ): include ../../../build/images/share/facebook.svg
	li: a( href="#" ): include ../../../build/images/share/github.svg
	li: a( href="#" ): include ../../../build/images/share/google_plus.svg
	li: a( href="#" ): include ../../../build/images/share/instagram.svg
	li: a( href="#" ): include ../../../build/images/share/linkedin.svg
	li: a( href="#" ): include ../../../build/images/share/twitter.svg
	li: a( href="#" ): include ../../../build/images/share/vk.svg
	li: a( href="#" ): include ../../../build/images/share/xing.svg
	li: a( href="#" ): include ../../../build/images/share/youtube.svg
// end SOCIAL
//