//
// start SOCIAL
.social: ul.list-inline.list-unstyled.social__list.list
	li: a( href="#" ): i.icon.icon-envelope
	li: a( href="#" ): i.icon.icon-facebook
	li: a( href="#" ): i.icon.icon-google-plus
	li: a( href="#" ): i.icon.icon-instagram
	li: a( href="#" ): i.icon.icon-linkedin
	li: a( href="#" ): i.icon.icon-pinterest
	li: a( href="#" ): i.icon.icon-twitter
	li: a( href="#" ): i.icon.icon-vk
	li: a( href="#" ): i.icon.icon-call
// end SOCIAL
//