h1 Типографика
h2 Заголовки
h1 Заголовок 1-го уровня #[small small]
h2 Заголовок 2-го уровня #[small small]
h3 Заголовок 3-го уровня #[small small]
h4 Заголовок 4-го уровня #[small small]
h5 Заголовок 5-го уровня #[small small]
h6 Заголовок 6-го уровня #[small small]
div: pre: code.language-markup.
	&lt;h1&gt;Заголовок 1-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h1&gt;
	&lt;h1&gt;Заголовок 2-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h1&gt;
	&lt;h1&gt;Заголовок 3-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h1&gt;
	&lt;h1&gt;Заголовок 4-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h1&gt;
	&lt;h1&gt;Заголовок 5-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h1&gt;
	&lt;h1&gt;Заголовок 6-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h1&gt;
hr
h2 Абзац
p Пример абзаца Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem reprehenderit reiciendis quod harum doloremque aspernatur culpa asperiores. Perspiciatis at laudantium repudiandae sapiente quaerat, consectetur odit vitae? Ipsa, sit, expedita.
div: pre: code.language-markup.
	&lt;p&gt;Пример абзаца Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem reprehenderit reiciendis quod harum
	doloremque aspernatur culpa asperiores. Perspiciatis at laudantium repudiandae sapiente quaerat, consectetur odit vitae?
	Ipsa, sit, expedita.&lt;/p&gt;
hr
h2 Таблицы
table
	caption Пример таблицы
	thead
		th Заголовок столбца
		th Заголовок столбца
		th Заголовок столбца
		th Заголовок столбца
		th Заголовок столбца
	tbody
		tr
			td Строка
			td Строка
			td Строка
			td Строка
			td Строка
		tr
			td Строка
			td Строка
			td Строка
			td Строка
			td Строка
		tr
			td Строка
			td Строка
			td Строка
			td Строка
			td Строка
div: pre: code.language-markup.
	&lt;caption&gt;Пример таблицы&lt;/caption&gt;
	&lt;thead&gt;
		&lt;th&gt;Заголовок столбца&lt;/th&gt;
		&lt;th&gt;Заголовок столбца&lt;/th&gt;
		&lt;th&gt;Заголовок столбца&lt;/th&gt;
		&lt;th&gt;Заголовок столбца&lt;/th&gt;
		&lt;th&gt;Заголовок столбца&lt;/th&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
			&lt;td&gt;Строка&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
hr
h2 Списки
div: code