extend layout/_index
block variables
	-
		page.title = 'Блог';
		page.excerpt = 'Шаблон страницы блога (index.php), архива (archive.php), категории (category.php), метки (tag.php)';
		page.type = 'blog';
block content
	section.section
		.section__heading.heading
			h1.text-center.title= page.title
			hr.separeted
			p.text-center.lead.font-italic.description= page.excerpt
		.section__body.body: .news
			+entry( {} )
			+entry( { thumbnail: 'http://placehold.it/320x240/2ecc71/ecf0f1' } )
			+entry( {} )
			+entry( { thumbnail: 'http://placehold.it/320x240/2ecc71/ecf0f1' } )
			+entry( {} )
		.section__basement.basement
			include components/_pagination