extend layout/_index

block variables
	- page.title = "Блог";
	- page.excerpt = "Шаблон блога / категории / архива (index.php / category.php / archive.php)";
	- page.type = "blog category archive";
block main
	.container
		.row
			.col-xs-12.col-sm-7.col-md-7.col-lg-8
				include parts/_info
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_01.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_02.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_03.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_04.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_05.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_06.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_07.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_08.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_09.jpg' } )
				+entry ( { thumbnail: src.img+'post_thumbnail_sm_10.jpg' } )
				include components/_pagination
			.col-xs-12.col-sm-5.col-md-5.col-lg-4: include asides/_right
	include parts/_current