extend layout/_index
mixin documents_entry ( args )
	-
		args.thumbnail = src.img+'document-thumbnail.png';
	+media( args )
		.text-right: a.btn.btn-primary( href="#" ) Подробней #[i.icon.icon-more]

block variables
	- page.title = "Документы";
	- page.excerpt = "Шаблон категории Документы (category-documents.php)";
	- page.type = "category";
block main
	.container
		.row
			.col-xs-12.col-sm-12.col-md-7.col-lg-8
				include parts/_info
				+documents_entry ( {} )
				+documents_entry ( {} )
				+documents_entry ( {} )
				+documents_entry ( {} )
				+documents_entry ( {} )
				+documents_entry ( {} )
				include components/_pagination
			.col-xs-12.col-sm-12.col-md-5.col-lg-4: include asides/_right
	include parts/_current