extend layout/_index
block main
	include parts/_jumbotron
	include parts/_share
	include parts/_projects
	include parts/_current
	include parts/_people
	include asides/_basement
	include parts/_partners