extend layout/_index
block main
	include parts/_jumbotron
	include parts/_action
	.container: .row
		.col-xs-12.col-sm-12.col-md-7.col-lg-8: include parts/_important
		.col-xs-12.col-sm-12.col-md-5.col-lg-4: include parts/_events
	.container: .row
		.col-xs-12.col-sm-12.col-md-7.col-lg-8: include parts/_news
		.col-xs-12.col-sm-12.col-md-5.col-lg-4: include asides/_home
	include parts/_share
	include parts/_current
	include parts/_people
	include parts/_projects