extend layout/_index
block variables
	- page.title = "PSTU Next";
	- page.excerpt = "Список шаблонов страниц";
	- page.type = "page";
block main
	.container: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
		ul
			li: a.font-bold( href="home" ) Главная
			li: a.font-italic( href="#" ) Блог
			li: a.font-italic( href="#" ) Категории "Документы"
			li: a.font-italic( href="#" ) Категории "Анонсы"
			li: a.font-bold( href="single.html" ) Запись
			li: a.font-italic( href="#" ) Запись категории "Документы"
			li: a.font-bold( href="page.html" ) Страница
			li: a.font-italic( href="#" ) Страница по ширине
			li: a.font-italic( href="#" ) Страница с медиасписком подстраниц
			li: a.font-italic( href="#" ) Страница со списком подстраниц в виде предентации (impress.js)
			li: a.font-italic( href="#" ) Страница с "флат" списком подстраниц
			li: a.font-italic( href="#" ) Страница с "линейным" списком подстраниц
			li: a.font-italic( href="#" ) Результаты поиска
			li: a.font-bold( href="404.html" ) Ошибка 404