extend layout/_index
block variables
	- page.title = "PSTU Next";
	- page.excerpt = "Список шаблонов страниц";
	- page.type = "page";
block main
	.container: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12: article.entry-content
		ul
			li: a.font-bold( href="structure.html" ) Структура сайта
			li: a.font-bold( href="typography.html" ) Типографика
			li: a.font-bold( href="home.html" ) Главная
			li: a.font-bold( href="blog.html" ) Блог
			li: a.font-bold( href="category-documents.html" ) Категории "Документы"
			li: a.font-bold( href="category-events.html" ) Категории "Анонсы"
			li: a.font-bold( href="single.html" ) Запись
			li: a.font-bold( href="single-link.html" ) Запись типа ссылка
			//- li: a.font-italic( href="single-document.html" ) Запись категории "Документы"
			li: a.font-bold( href="page.html" ) Страница
			li: a.font-bold( href="page-without-sidebar.html" ) Страница по ширине
			li: a.font-bold( href="page-childpages-media.html" ) Страница с медиасписком подстраниц
			li: a.font-bold( href="page-childpages-list.html" ) Страница со списком подстраниц
			li: a.font-bold( href="page-childpages-flat.html" ) Страница с "флат" списком подстраниц
			li: a.font-bold( href="page-childpages-steps.html" ) Страница с "линейным" списком подстраниц
			li: a.font-bold( href="search.html" ) Результаты поиска
			li: a.font-bold( href="404.html" ) Ошибка 404
block footer
	include parts/_footer
	include components/_enqueue