extend layout/_index
block variables
	-
		page.title = 'Страница с сайдбаром';
		page.type = 'page';
block content
	h1= page.title
	p.excerpt.font-italic.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facilis accusamus officiis distinctio harum, tempora temporibus ex obcaecati. Quis temporibus possimus, adipisci vel laboriosam quam necessitatibus. Molestias magnam neque, totam.
	include components/_breadcrumb
	include components/_share
	include components/_content
	ul.text-right.list-inline.font-italic.small.list-unstyled
		li 20.06.2018
		li: a( href="#" ) admin
	include components/_comments