extend layout/_index
block variables
	- page.title = "Страница";
	- page.excerpt = "Шаблон страницы (page.php)";
	- page.type = "page";
block main
	.container
		.row
			.col-xs-12.col-sm-12.col-md-7.col-lg-8
				article.entry-content
					include parts/_info
					include components/_content
					ul.text-right.list-unstyled.font-italic
						li Опубликовано: <a href="#">admin</a> 20.06.2018
						li Обновлено: <a href="#">invitery</a> 21.06.2018
						li Ответственный: Иванов И.И. <a href="#">ivanov_i_i@pstu.edu</a>
				include components/_comments
			.col-xs-12.col-sm-12.col-md-5.col-lg-4: include asides/_right
	include parts/_current