extend layout/_index
block variables
	- page.title = "Страница (медиа)";
	- page.excerpt = "Шаблон страницы с \"медиасписком\" подстраниц (page-childpages-media.php)";
	- page.type = "page";
block main
	.container
		.row
			.col-xs-12.col-sm-7.col-md-7.col-lg-8
				include parts/_info
				.entry-content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nisi aliquid saepe unde quos voluptates doloribus sequi, illum dignissimos cupiditate asperiores sed alias, odit dolore iste, veritatis deleniti quasi voluptate.
					p Saepe quia doloremque ut, accusantium, aliquam neque consequuntur aspernatur dolor, quae cum odio impedit autem fugiat optio voluptatum consectetur, magni eligendi illum at labore voluptatem nostrum porro. At, ex, aliquam?
					p Velit delectus eligendi hic fuga deserunt, deleniti in asperiores consectetur aut consequatur! Recusandae sed nisi laudantium est iusto, perferendis asperiores accusantium eligendi cum possimus odio impedit, culpa, perspiciatis voluptas quo.
					p Tempore, similique vitae illum corporis asperiores doloribus provident ullam ex veniam minus et, odit quis. Officiis, autem, beatae. Molestias fuga aspernatur, harum quod ipsa vero laboriosam dolor fugit quisquam iure!
				+media ( {} )
				+media ( {} )
					+media ( {} )
					+media ( {} )
				+media ( {} )
				+media ( {} )
				ul.text-right.list-unstyled.font-italic
					li Опубликовано: <a href="#">admin</a> 20.06.2018
					li Обновлено: <a href="#">invitery</a> 21.06.2018
					li Ответственный: Иванов И.И. <a href="#">ivanov_i_i@pstu.edu</a>
				include components/_comments
			.col-xs-12.col-sm-5.col-md-5.col-lg-4: include asides/_right
	include parts/_current