extend layout/_index
mixin flat_entry( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia alias distinctio ut doloribus libero a nam soluta ullam? Architecto nisi est magnam reiciendis. Culpa praesentium minima quidem commodi reiciendis, quisquam!';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : src.img+'subpage.jpg';
	.col-xs-12.col-sm-4.col-md-4.col-lg-6: a.flat__entry.entry( href="#", title=args.title )
		img.wp-post-image.attachment-medium( src=args.thumbnail )
		.overlay
		.entry__title.title: h4= args.title
		.entry__excerpt.excerpt: p= args.excerpt
block variables
	-
		page.title = 'Страница со флат-списком подстраниц';
		page.type = 'page';
block content
	h1= page.title
	p.excerpt.font-italic.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facilis accusamus officiis distinctio harum, tempora temporibus ex obcaecati. Quis temporibus possimus, adipisci vel laboriosam quam necessitatibus. Molestias magnam neque, totam.
	include components/_breadcrumb
	include components/_share
	.content
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam explicabo repudiandae vitae accusamus excepturi, fuga tenetur assumenda est, in ipsam natus tempore amet rerum dolore sapiente iure vel dolorem consequuntur.
		p Ratione doloremque hic quam, iste, earum reprehenderit! Eveniet, ipsum? Doloribus accusamus accusantium quod saepe, dolore dolores incidunt distinctio unde non totam, quo animi possimus, asperiores ea iure minima laborum blanditiis.
		p Eum velit accusamus, eligendi fugiat, perspiciatis ducimus. Aspernatur tenetur nam soluta itaque, nesciunt ex at qui, nihil enim suscipit optio. Soluta ab commodi nulla excepturi cupiditate cum id, sed modi.
	.flat: .row
		+flat_entry( {} )
		+flat_entry( {} )
		+flat_entry( {} )
		+flat_entry( {} )
		+flat_entry( {} )
		+flat_entry( {} )
	ul.text-right.list-inline.font-italic.small.list-unstyled
		li 20.06.2018
		li: a( href="#" ) admin
	include components/_comments