extend layout/_index

mixin childpage_list_item ( args )
	- args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.';
	- args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/100x100/2ecc71/ecf0f1';
	.media.clearfix
		.media-left.pull-left: a(href="#"): img.lazy.media-object( src="#", data-src=args.thumbnail, alt=args.title )
		.media-body
			h4.media-heading: a( href="#" ) #{args.title}
			div.excerpt: ul
				li: a( href="#" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi deleniti volupta
				li: a( href="#" ) Explicabo doloremque tenetur beatae eveniet provident modi laudantium deserunt 
				li: a( href="#" ) Hic eos delectus id magnam laboriosam iure unde quos velit blanditiis similique
				li: a( href="#" ) Corporis, dignissimos suscipit obcaecati. Beatae quaerat corrupti sequi vel, re
				li: a( href="#" ) Voluptate dignissimos ex enim voluptatum, perspiciatis labore numquam quia ipsa

block variables
	- page.title = "Страница";
	- page.excerpt = "Шаблон с простым списком подстраниц (page.php)";
	- page.type = "page";
block main
	.container
		.row
			.col-xs-12.col-sm-12.col-md-7.col-lg-8
				article.entry-content
					include parts/_info
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maxime tenetur tempora magnam. Asperiores, architecto rerum alias laborum accusantium aspernatur aliquid qui nostrum, quasi culpa omnis nisi illum tempore ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maxime tenetur tempora magnam. Asperiores, architecto rerum alias laborum accusantium aspernatur aliquid qui nostrum, quasi culpa omnis nisi illum tempore ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident maxime tenetur tempora magnam. Asperiores, architecto rerum alias laborum accusantium aspernatur aliquid qui nostrum, quasi culpa omnis nisi illum tempore ut.
					+childpage_list_item( {} )
					+childpage_list_item( {} )
					+childpage_list_item( {} )
					+childpage_list_item( {} )
					+childpage_list_item( {} )
					ul.text-right.list-unstyled.font-italic
						li Опубликовано: <a href="#">admin</a> 20.06.2018
						li Обновлено: <a href="#">invitery</a> 21.06.2018
						li Ответственный: Иванов И.И. <a href="#">ivanov_i_i@pstu.edu</a>
				include components/_comments
			.col-xs-12.col-sm-12.col-md-5.col-lg-4: include asides/_right
	include parts/_current