extend layout/_index
block variables
	- page.title = "Страница (sidebar)";
	- page.excerpt = "Шаблон страницы без сайдбара (page-without-sidebar.php)";
	- page.type = "page";
block main
	.container-fluid
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12: article.entry-content
				include parts/_info
				include components/_content
				ul.text-right.list-unstyled.font-italic
					li Опубликовано: <a href="#">admin</a> 20.06.2018
					li Обновлено: <a href="#">invitery</a> 21.06.2018
					li Ответственный: Иванов И.И. <a href="#">ivanov_i_i@pstu.edu</a>
				include components/_comments
	include parts/_current