extend layout/_index
block variables
	-
		page.title = 'Пост';
		page.type = 'single';
block content
	h1 Quod unde nam architecto quisquam atque tempora recusandae cum rem dolores ipsa provident eius error maxime vero, vitae iure porro minima placeat.
	include components/_breadcrumb
	p.excerpt.font-italic.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facilis accusamus officiis distinctio harum, tempora temporibus ex obcaecati. Quis temporibus possimus, adipisci vel laboriosam quam necessitatibus. Molestias magnam neque, totam.
	include components/_share
	include components/_info
	include components/_content
	include components/_pager
	include components/_comments