extend layout/_index
block variables
	- page.title = "PSTU Next";
	- page.excerpt = "Список шаблонов страниц";
	- page.type = "page";
block main
	.container: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
		include components/_typography