extend layout/_index
block variables
	- page.title = "Страница (sidebar)";
	- page.excerpt = "Шаблон страницы без сайдбара (page-without-sidebar.php)";
	- page.type = "page";
block main
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12: article.entry-content
				include components/_pageheader
				include components/_content
				include parts/_info
				include components/_comments