extend layout/_index
block variables
	- page.title = "Запись (ссылка)";
	- page.excerpt = "Шаблон страницы записи (поста/новости) типа \"ссылка\" (single.php)";
	- page.type = "single";
block main
	.container
		.row
			.col-xs-12.col-sm-12.col-md-7.col-lg-8
				article.entry-content
					include components/_pageheader
					include components/_breadcrumb
					.text-center: a.display-inline( href="#" )
						img.lazy.img-bordered( src="#", data-src="https://s0.wordpress.com/mshots/v1/https%3A%2F%2Fpstu.edu%2F?w=400", alt="ПГТУ" )
					include components/_content
					include parts/_info
				include components/_pager
				include parts/_similar
				include components/_comments
			.col-xs-12.col-sm-12.col-md-5.col-lg-4: include asides/_right