//-
	Меню подвала сайта

//
// NAV BASEMENT start
.nav.nav--basement.container: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
	ul.nav__list.list.text-center#basement-nav-list
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
// NAV BASEMENT end
//