.header__nav.nav.nav--header#header-nav
	ul.nav__list.list#header-nav-list
		li: a( href="#" ) Главная
		li: a( href="#" ) Новости
		li
			a( href="#" ) Студенту
			ul.sub-menu
				li
					a( href="#" ) Проекты
					ul.sub-menu
						li: a( href="#" ) Бизнес — инкубатор
						li: a( href="#" ) Мариупольская бизнес-школа
						li: a( href="#" ) Региональный учебный центр бизнес-навыков
						li: a( href="#" ) Студенческие трудовые отряды
						li: a( href="#" ) Театр моды «Магия»
						li: a( href="#" ) Центр карьеры
						li: a( href="#" ) Школа Архитектурного и Дизайнерского Развития
				li: a( href="#" ) Расписание
				li: a( href="#" ) Рейтинг студентов-бюджетников
				li: a( href="#" ) Студенческий сенат
		li
			a( href="#" ) Абитуриенту
			ul.sub-menu
				li: a( href="#" ) Информация о приеме
				li: a( href="#" ) Кафедра военной подготовки
				li: a( href="#" ) Образовательный центр «Донбасс – Украина»
				li: a( href="#" ) Подбор специальности
				li: a( href="#" ) Подготовительное отделение
				li: a( href="#" ) Приёмная комиссия
				li: a( href="#" ) Программы вступительных экзаменов
				li: a( href="#" ) Профориентационная практика
				li: a( href="#" ) Специальности
				li: a( href="#" ) Списки приёмной комиссии
				li: a( href="#" ) Стоимость обучения
		li: a( href="#" ) Контакты