button.nav__burger.burger#header-nav-burger( title="Главное меню" ) Главное меню
ul.nav__list.list#header-nav-list
	li.menu-item: a( href="#" ) Главная
	li.menu-item: a( href="#" ) Новости
	li.menu-item.has-sub-menu
		a( href="#" ) Студенту
		ul.sub-menu
			li
				a( href="#" ) Проекты
				ul.sub-menu
					li.menu-item: a( href="#" ) Бизнес — инкубатор
					li.menu-item: a( href="#" ) Мариупольская бизнес-школа
					li.menu-item: a( href="#" ) Региональный учебный центр бизнес-навыков
					li.menu-item: a( href="#" ) Студенческие трудовые отряды
					li.menu-item: a( href="#" ) Театр моды «Магия»
					li.menu-item: a( href="#" ) Центр карьеры
					li.menu-item: a( href="#" ) Школа Архитектурного и Дизайнерского Развития
			li.menu-item: a( href="#" ) Расписание
			li.menu-item: a( href="#" ) Рейтинг студентов-бюджетников
			li.menu-item: a( href="#" ) Студенческий сенат
	li.menu-item.has-sub-menu
		a( href="#" ) Абитуриенту
		ul.sub-menu
			li.menu-item: a( href="#" ) Информация о приеме
			li.menu-item: a( href="#" ) Кафедра военной подготовки
			li.menu-item: a( href="#" ) Образовательный центр «Донбасс – Украина»
			li.menu-item: a( href="#" ) Подбор специальности
			li.menu-item: a( href="#" ) Подготовительное отделение
			li.menu-item: a( href="#" ) Приёмная комиссия
			li.menu-item: a( href="#" ) Программы вступительных экзаменов
			li.menu-item: a( href="#" ) Профориентационная практика
			li.menu-item: a( href="#" ) Специальности
			li.menu-item: a( href="#" ) Списки приёмной комиссии
			li.menu-item: a( href="#" ) Стоимость обучения
	li.menu-item: a( href="#" ) Контакты