.button: i.icon.icon-sort-down
ul.list
	li.menu-item: a( href="#" ) Расписание
	li.menu-item: a( href="#" ) Вопросы-ответы
	li.menu-item: a( href="#" ) Структура ПГТУ
	li.menu-item: a( href="#" ) Web-ресурсы
	li.menu-item: a( href="#" ) Контакты