.button: i.icon.icon-sort-down
ul.list
	li.menu-item: a( href="#" ) Вопросы-ответы
	li.menu-item: a( href="#" ) Справочник
	li.menu-item.has-sub-menu
		a( href="#" ) Факультеты
		ul.sub-menu
			li.menu-item: a( href="#" ) МФ
			li.menu-item: a( href="#" ) ФИТ
			li.menu-item: a( href="#" ) ФИЯП
			li.menu-item: a( href="#" ) ЭкФ
			li.menu-item: a( href="#" ) ФТТ
			li.menu-item: a( href="#" ) СГФ
			li.menu-item: a( href="#" ) ФМС
			li.menu-item: a( href="#" ) ЭнФ
	li.menu-item.has-sub-menu
		a( href="#" ) Web-портал ПГТУ
		ul.sub-menu
			li.menu-item: a( href="#" ) Мероприятия ПГТУ
			li.menu-item: a( href="#" ) Внутреняя почта
			li.menu-item: a( href="#" ) Почта @pstu.edu
			li.menu-item: a( href="#" ) Информационный сервер