//
// #NAV start
.nav.nav--top.container-fluid: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
	ul.nav__list.list#top-nav-list
		li: a( href="#" ) 100 часов волонтёрства
		li: a( href="#" ) «Такий я є!»
		li
			a( href="#" ) Наука
			ul.sub-menu
				li: a( href="#" ) Аспирантура, докторантура
				li
					a( href="#" ) Выставки
					ul.sub-menu
						li: a( href="#" ) Web-ресурсы
						li: a( href="#" ) История
						li: a( href="#" ) Профсоюзный комитет
						li: a( href="#" ) Ректорат
						li: a( href="#" ) Структура ПГТУ
						li: a( href="#" ) Ученый совет
				li: a( href="#" ) Научные издания
				li: a( href="#" ) План проведения конференций и олимпиад
				li
					a( href="#" ) Приоритетные направления деятельности
					ul.sub-menu
						li: a( href="#" ) Web-ресурсы
						li: a( href="#" ) История
						li: a( href="#" ) Профсоюзный комитет
						li: a( href="#" ) Ректорат
						li: a( href="#" ) Структура ПГТУ
						li: a( href="#" ) Ученый совет
				li: a( href="#" ) Совет молодых ученых ПГТУ
				li: a( href="#" ) Специализированные ученые советы
				li: a( href="#" ) Студенческая наука
		li: a( href="#" ) Международная работа
		li
			a( href="#" ) Университет
			ul.sub-menu
				li: a( href="#" ) Web-ресурсы
				li: a( href="#" ) История
				li: a( href="#" ) Профсоюзный комитет
				li: a( href="#" ) Ректорат
				li: a( href="#" ) Структура ПГТУ
				li: a( href="#" ) Ученый совет
		li: a( href="#" ) Факультеты
		li: a( href="#" ) Анонсы
		li
			a( href="#" ) Информация
			ul.sub-menu
				li: a( href="#" ) Действующие стандарты университета и положения подготовленные в соответствии с системой Менеджмента качества
				li: a( href="#" ) Информация, подлежащая публикации в соответствии с действующим законодательством
				li: a( href="#" ) Кодекс академической доброчестности ГВУЗ «ПГТУ»
				li: a( href="#" ) Кодекс корпоративной культуры университета
				li: a( href="#" ) Лицензионные дела (аспирантура, докторантура)
				li: a( href="#" ) Лицензионные и аккредитационные дела
				li: a( href="#" ) Лицензия на осуществление образовательной деятельности
				li: a( href="#" ) Образовательные программы (бакалавриат)
				li: a( href="#" ) Образовательные программы (магистратура)
				li: a( href="#" ) Перечень сертификатов по специальностям
				li: a( href="#" ) Противодействие коррупции
				li: a( href="#" ) Публичные закупки
				li: a( href="#" ) Результаты аккредитационной экспертизы
				li: a( href="#" ) Структура и органы управления учебного заведения
		li: a( href="#" ) Старый сайт
		li: a( href="#" ) Украинский
		li: a( href="#" ) русский
		li: a( href="#" ) english
// #NAV end
//