//-
	Секкция главной страницы с "призывом" перейти на определённые страницы/ссылки

//
// ACTION start
section.action#action: .container: .row
	.col-xs-12.col-sm-8.col-md-9.col-lg-9
		.action__content.content
			h2 ПГТУ крупнейший ВУЗ Приазовья
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero consequatur ratione vitae quaerat ullam, repellat architecto tempore, inventore aperiam cum quod, doloribus voluptas laudantium? Corrupti laudantium vitae ad ab?
	.col-xs-12.col-sm-4.col-md-3.col-lg-3
		.action__btns.btns
			p: a.btn.btn-success.btn-md( href="#" ) Как стать студентом?
			p: a.btn.btn-success.btn-md( href="#" ) Найти ПГТУ на карте
// ACTION end
//