//-
	Секция для вывода категории "Анонсы"
	
mixin events_entry ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet';
		args.day = ( args.day ) ? args.day : '29';
		args.month = ( args.month ) ? args.month : 'сентября';
		args.year = ( args.year ) ? args.year : '2020';
	.col-xs-12.col-sm-3.col-md-12.col-lg-12: a( href="#" ).events__entry.entry
		.date
			.date__day.day #{args.day}
			.date__month.month #{args.month}
			.date__year.year #{args.year}
		h3.title #{args.title}
//
// EVENTS start
section.events#events: .row
		+events_entry( {} )
		+events_entry( {} )
		+events_entry( {} )
		+events_entry( {} )
		+events_entry( {} )
		.col-xs-12.col-sm-3.col-md-12.col-lg-12: p.text-center.small: a( href="#" ) Смотреть ешё
// EVENTS end
//