//
// IMPORTANT start
section.flat#flat: .row
	+flat_entry( { thumbnail: src.img+'thumbnail_300x200_01.jpg' } )
	+flat_entry( { thumbnail: src.img+'thumbnail_300x200_02.jpg' } )
	+flat_entry( { thumbnail: src.img+'thumbnail_300x200_03.jpg' } )
	+flat_entry( { thumbnail: src.img+'thumbnail_300x200_04.jpg' } )
// IMPORTANT end
//