// start FOOTER
footer.footer.wrapper__item#footer: .container: .row
	.col-xs-12.first-sm.col-sm-3.col-md-4.col-lg-4: p.copyright 2018 &copy; <a href="//pstu.edu" title="Государственное высшее учебное заведение Приазовский государственный технический университет">ГВУЗ ПГТУ</a>
	.col-xs-12.first-xs.col-sm-6.col-md-4.col-lg-4: include ../components/_social
	.col-xs-12.col-sm-3.col-md-4.col-lg-4: p.developer Разработка: <a href="//cct.pstu.edu" title="Центр компьютерных технологий Приазовского государственного технического университета">ЦКТ ПГТУ</a>
// end FOOTER