//
// START #header
header.wrapper__item.header#header
	.header__fixed.fixed
		include ../nav/_header-fixed
	.header__top.top: .container-fluid: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
		include ../nav/_header-top
	.header__bloginfo.bloginfo: .container: .row
		.col-xs-12.col-sm-3.col-md-2.col-lg-2.middle-xs: a.custom-logo-link( href="#" ): img.custom-logo( src=src.img+'pstu.png', title=blog.name )
		.col-xs-12.col-sm-9.col-md.col-lg.middle-xs
			h1.bloginfo-name #{blog.name}
			p.bloginfo-description #{blog.description}
		.col-xs-12.col-sm.col-md-3.col-lg-3.small: +widget( {} )
		.col-xs-12.col-sm.col-md-3.col-lg-3.small: +widget( {} )
	.header__nav.nav: .container: .row
		.col-xs-10.col-sm-10.col-md-7.col-lg-3
			form.searchform#header-search( action="#", method="post" )
				input.form-control( type="search", name="s", placeholder="" )
				input.submit( type="submit", value="Поиск" )
		.col-xs-2.col-sm-2.col-md-5.col-lg-2.text-right
			a.help-button#help-button( href="#help-modal", role="button", data-fancybox="" ): i.icon.icon-help
			a.rss-button#rss-button( href="#", role="button" ): i.icon.icon-rss
			div( style="display: none;" ): .help-modal#help-modal
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid id modi amet expedita dignissimos, odio, atque veniam deleniti nisi facilis. Ipsa ratione repellendus, culpa asperiores, nisi pariatur eius deserunt. Odit.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid id modi amet expedita dignissimos, odio, atque veniam deleniti nisi facilis. Ipsa ratione repellendus, culpa asperiores, nisi pariatur eius deserunt. Odit.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid id modi amet expedita dignissimos, odio, atque veniam deleniti nisi facilis. Ipsa ratione repellendus, culpa asperiores, nisi pariatur eius deserunt. Odit.
		.col-xs-12.col-sm-12.col-md-12.col-lg-7.first-lg
			include ../nav/_header-nav
// END #header
//