//
// START #header
header.wrapper__item.header#header: .container
	.row
		.col-xs-12.col-sm-12.col-md-6.col-lg-6: a( href="#" ).header__bloginfo.bloginfo
			img.custom-logo( src=src.img+'pstu.png', title=blog.name )
			h1.bloginfo-name #{blog.name}
			p.bloginfo-description #{blog.description}
		.col-xs-12.col-sm-12.col-md-6.col-lg-6: include ../asides/_header
	.row
		.col-xs-12.col-sm-5.col-md-5.col-lg-4: form.header__search.search#header-search( action="#", method="post" )
			.input-group
				input.form-control( type="search", name="s", placeholder="" )
				input.btn.btn-success( type="submit", value="Поиск" )
		.col-xs-12.col-sm-7.first-sm.col-md-7.col-lg-8: .header__nav.nav#header-nav
			ul.nav__list.list#header-nav-list
				li: a( href="#" ) Главная
				li: a( href="#" ) Новости
				li: a( href="#" ) Студенту
				li: a( href="#" ) Абитуриенту
				li: a( href="#" ) Контакты
// END #header
//