mixin important_entry( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia reiciendis culpa dolor ex cupiditate quasi, magnam. Pariatur, molestiae, quaerat similique praesentium repellat incidunt nulla, doloribus soluta voluptatum molestias voluptate fugit?';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/300x200/2ecc71/ecf0f1';
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: .important__entry.entry
		img.lazy( src="#", data-src=args.thumbnail )
		h3.title #{args.title}
		.excerpt: p #{args.excerpt}
//
// IMPORTANT start
section.important#important: .row
	+important_entry( {} )
	+important_entry( {} )
	+important_entry( {} )
	+important_entry( {} )
// IMPORTANT end
//