.main__info.info
	img.lazy.qr-code( src="#", data-src="http://chart.apis.google.com/chart?choe=UTF-8&chld=L&cht=qr&chs=100x100&chl=http://pstu.edu/" )
	h1.title #{page.title}
	p.lead #{page.excerpt}
	include ../components/_breadcrumb
	.clearfix: include ../components/_share
	if ( page.type == 'page' ) || ( page.type == 'single' )
		.info__tags.tags: ul.tags__list.list
			li: a( href="#" ) #[i.icon.icon-tag ] метка
			li: a( href="#" ) #[i.icon.icon-tag ] метка
			li: a( href="#" ) #[i.icon.icon-tag ] метка
			li: a( href="#" ) #[i.icon.icon-tag ] метка
			li: a( href="#" ) #[i.icon.icon-tag ] метка