// jumbotron
mixin jumbotron_slide ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.thumb = ( args.thumb ) ? args.thumb : 'jum-logo.png';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem et eos expedita suscipit nesciunt rerum nisi. Vel dicta, eos quasi earum maiores, architecto aut optio, magni nisi omnis doloremque reprehenderit.';
	div: .row
		.col-sm-5
			if block
				block
			else
				h3.jumbotron__heading.heading= args.title
				.jumbotron__excerpt.excerpt: p= args.excerpt
				a.btn.btn-default.btn-md.permalink( href="#" ) Подробней <i class="glyphicon glyphicon-menu-right"></i>
		.col-sm-7: img.img-responsive.center-block( src="#", data-lazy=src.img+args.thumb, alt=args.title )
section#jumbotron.isset-feautured.jumbotron( style="background-image: url(./images/bg.png);" ): .container: #jumbotron-slider
	+jumbotron_slide( {} )
	+jumbotron_slide( {} )
	+jumbotron_slide( {} )
	+jumbotron_slide( {} )
// end jumbotron