//-
	Навигационная панель с одноуровневым меню

// LINKS start
.links: .container: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
	ul.links__list.list.text-center#basement-nav-list
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
		li: a( href="#" ) Пункт
// LINKS end