//
// #NAV start
.menu.container-fluid: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
	ul.nav__list.list#nav-list
		li: a( href="#" ) 100 часов волонтёрства
		li: a( href="#" ) «Такий я є!»
		li: a( href="#" ) Наука
		li: a( href="#" ) Международная работа
		li: a( href="#" ) Университет
		li: a( href="#" ) Факультеты
		li: a( href="#" ) Анонсы
		li: a( href="#" ) Информация
		li: a( href="#" ) Старый сайт
		li: a( href="#" ) Украинский
		li: a( href="#" ) русский
		li: a( href="#" ) english
// #NAV end
//