//-
	Слайдер "Партнёры"

mixin partners_entry ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/300x200/2ecc71/ecf0f1';
	a( href="#", title=args.title )
		img( data-lazy=args.thumbnail, alt=args.title )

//
// PARTNERS start
section.partners#partners: .container: .row: .col-xs-12.col-sm-12.col-md-12.col-lg-12
	.section__body
		button.slider-arrow.slider-prev#partners-slider-arrow-prev &larr;
		button.slider-arrow.slider-next#partners-slider-arrow-next &rarr;
		.partners-slider#partners-slider
			+partners_entry( { thumbnail: src.img+'partner_mrpl.jpg', title: 'Мариупольский городской совет' } )
			+partners_entry( { thumbnail: src.img+'partner_mon.jpg', title: 'Министерство образования и науки Украины' } )
			+partners_entry( { thumbnail: src.img+'partner_mmateng.jpg', title: 'TEMPUS MMATENG' } )
// PARTNERS end
//