//-
	Секция "Похожие записи"

mixin similar_entry ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia reiciendis culpa dolor ex cupiditate quasi, magnam. Pariatur, molestiae, quaerat similique praesentium repellat incidunt nulla, doloribus soluta voluptatum molestias voluptate fugit.';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/300x200/2ecc71/ecf0f1';
	a( href="#" ).similar__entry.entry
		img.wp-post-image( src="#", data-lazy=args.thumbnail, alt=args.title )
		h3.title  #{args.title}
		.excerpt: p #{args.excerpt}

//
// SIMILAR start
section.section.similar#similar
	.section__heading.heading: h2 Похожие записи
	.section__body.boddy
		#similar-slider
			+similar_entry( {} )
			+similar_entry( {} )
			+similar_entry( {} )
			+similar_entry( {} )
			+similar_entry( {} )
			+similar_entry( {} )
// SIMILAR end
//