//-
	Закреплённая (stichy) запись


section.sticky#sticky
	//- .sticky__entry.entry.lazy( data-src=src.img+'pstu_bg.jpg' ): .container: .row.middle-xs
	.sticky__entry.entry.lazy: .container: .row.middle-xs
		.col-xs-12.col-sm-4.col-md-3.col-lg-2.text-center: a( href="#" ): img.wp-post-image.lazy( src="#", data-src=src.img+'sticky_thumbnail.jpg' )
		.col-xs-12.col-sm-8.col-md-6.col-lg-8
			h3.title: a( href="#", style="color: #fff;" ) В ПГТУ купили 3D принтер
			.excerpt( style="color: #fff;" ): p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius obcaecati deserunt optio voluptatum atque modi vero eligendi sapiente esse consequuntur error cum eum expedita itaque totam, ab, quod nemo! Sequi.
		.col-xs-12.col-sm-12.col-md-3.col-lg-2.text-right: a.permalink.btn.btn-success.btn-md( href="#" ) Подробней
