// start RESENT WORKS
// Выводит посты заданной категории заранее настроенной в кастомайзере вёрдпреса. В блоке слева описание категории, если категория не настроена, то блок не выводится. Справа посты, если категория не настроена, то посты выводится по ширине в четыре столбца.
mixin work_post( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.thumb = ( args.thumb ) ? args.thumb : 'post-medium.jpg';
	.col-xs-6.col-md-4: .entry
		img.entry__thumb.thumb.img-responsive( src="#", data-lazy=src.img+args.thumb, alt=args.title )
		.row.entry__info.info
			.col-xs-4 <i class="glyphicon glyphicon-eye-open"></i> 201
			.col-xs-4 <i class="glyphicon glyphicon-heart"></i> 95
			.col-xs-4 <i class="glyphicon glyphicon-comment"></i> 10
		a.entry__permalink.permalink( href="#", title=args.title ): i.glyphicon.glyphicon-search
section#works.works
	.section__heading.works__heading.heading: .container: .row: .col-xs-12
		h2 Recent Work
		hr.separeted
	.section__body.works__body.body: .container: .row
		.col-sm-3: p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, saepe velit natus vitae totam incidunt delectus dolores rem molestias assumenda possimus, quasi maiores. Qui voluptatibus asperiores impedit minima vel officia.
		.col-sm-9: #works-slider
			div.slide: .row
				+work_post( { thumb: 'post-1-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-2-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-3-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-4-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-5-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-6-thumbnail-sm.jpg' } )
			div.slide: .row
				+work_post( { thumb: 'post-1-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-2-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-3-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-4-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-5-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-6-thumbnail-sm.jpg' } )
			div.slide: .row
				+work_post( { thumb: 'post-1-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-2-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-3-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-4-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-5-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-6-thumbnail-sm.jpg' } )
			div.slide: .row
				+work_post( { thumb: 'post-1-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-2-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-3-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-4-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-5-thumbnail-sm.jpg' } )
				+work_post( { thumb: 'post-6-thumbnail-sm.jpg' } )
// end RESENT WORKS