//-
	Секция для вывода категории "Анонсы"
	
mixin events_entry( args )
	a.events__entry.entry( href="#" )
		h3.title #{args.title}
		p.excerpt #{args.excerpt}
		.datetime 20.03.2019
	

//
// NEWS start
section.section.section--small.events#events
	.section__heading.heading: h2.title #[a.more( href="#" ): span.sr-only Просмотр категории] Анонсы
	.section__body.body
		+events_entry( { title: 'Университетская наука — 2019', excerpt: '16-17 мая в Государственном высшем учебном заведении «Приазовский государственный технический университет» состоится Международная научно-техническая конференция «Университетская наука-2019».' } )
		+events_entry( { title: 'День открытых дверей ФИТ', excerpt: 'Факультет информационных технологий приглашает будущих абитуриентов и их родителей посетить университет: услышать о деятельности факультета и кафедр, о специальностях, по которым обучают на кафедрах факультета, задать вопросы и получить ответы по интересующим темам, а также получить экскурсию по всем кафедрам факультета информационных технологий!' } )
		+events_entry( { title: 'II этап Всеукраинской студенческой олимпиады по специальности «Технология и оборудование сварки»', excerpt: 'Приглашаем студентов высших учебных заведений Украины принять участие в Олимпиаде!' } )
		+events_entry( { title: 'Всеукраинский конкурс научно-исследовательских работ учащихся — членов Малой академии наук Украины в ПГТУ', excerpt: 'Пятый год на базе нашего университета проводится Областной этап Всеукраинского конкурса — защиты научно-исследовательских работ учащихся – членов МАН Украины. 15 февраля на конкурс было представлено 49 научно-исследовательских работ старшеклассников по 4 научным направлениям: технические науки, компьютерные науки, медицина и экология.' } )
		+events_entry( { title: 'Конкурс на замещение вакантных научно-педагогических должностей', excerpt: 'ГВУЗ «Приазовский государственный технический университет» объявляет конкурс на замещение вакантных научно-педагогических должностей' } )
	//- .section__basement.basement: a.more( href="#" ): .sr-only Просмотр категории
// NEWS end
//