//
// IMPORTANT start
section.flat#flat: .row
	+flat_entry( { thumbnail: src.img+'flat_thumbnail_sm_01.jpg' } )
	+flat_entry( { thumbnail: src.img+'flat_thumbnail_sm_02.jpg' } )
	+flat_entry( { thumbnail: src.img+'flat_thumbnail_sm_03.jpg' } )
	+flat_entry( { thumbnail: src.img+'flat_thumbnail_sm_04.jpg' } )
// IMPORTANT end
//