// start FOOTER
footer.footer.wrapper__item#footer: .container: .row
	.col-xs-12.col-sm.col-md.col-lg: p.copyright 2018 &copy; #[a( href="//pstu.edu" ) ГВУЗ ПГТУ]
	.col-xs-12.col-sm.col-md.col-lg: p.developer Разработка: #[a( href="//cct.pstu.edu" ) ЦКТ ПГТУ]
// end FOOTER