.main__info.info.clearfix
	a.fancybox( href="http://chart.apis.google.com/chart?choe=UTF-8&chld=L&cht=qr&chs=250x250&chl=http://pstu.edu/" ): img.lazy.qr-code( src="#", data-src="http://chart.apis.google.com/chart?choe=UTF-8&chld=L&cht=qr&chs=100x100&chl=http://pstu.edu/" )
	.info__box.box.box--share
		.box__heading.heading Поделиться:
		.jssocials
	.info__box.box.box--tags
		.box__heading.heading Метки:
		ul.items.list-unstyled.list-inline
			li: a( href="#" ) метка
			li: a( href="#" ) метка
			li: a( href="#" ) метка
			li: a( href="#" ) метка
			li: a( href="#" ) метка
	.info__box.box.box--translations
		.box__heading.heading Переводы:
		ul.items.list-unstyled.list-inline
			li: a( href="#" ) русский
			li: a( href="#" ) украинский
	.info__box.box.box--publish
		.box__heading.heading Опубликовано:
		b 20.06.2018
	.info__box.box.box--refresh
		.box__heading.heading Обновлено:
		b 21.06.2018

