//
//	Список подстраниц с виде флат-иконок
//


.flat {
	
	&__entry {
		@include td ( none, none );
		@include color ( #fff, #fff, #fff, #fff );
		display: block;
		max-width: 480px;
		position: relative;
		margin: 1rem auto;
		overflow: hidden;
		text-shadow: 1px 1px 1px #000;
		&:hover {
			.title { transform: translate( 10%, 0% ); opacity: 0; }
			.excerpt { transform: translate( 0%, 0% ); opacity: 1; }
			.overlay { background-color: rgba( 0, 0, 0, 0.50 ) !important; }
			.overlay:before { opacity: 1 !important; }
		}
	}

	.entry {

		.wp-post-image { display: block; }

		h3, h4, p {
			margin: 0px;
			overflow: hidden;
			text-overflow: elipsis;
		}

		.overlay {
			@include position ( absolute, 0%, 0%, 0%, 0% );
			background-color: rgba( 0, 0, 0, 0.25 );
			transition: background-color 150ms;
			&:before {
				content: '';
				display: block;
				@include position ( absolute, 7px, 7px, 7px, 7px );
				border: 1px solid #fff;
				opacity: 0;
				transition: opacity 200ms;
			}
		}

		&__title {
			@extend %y-center;
			@include position ( absolute, 0%, 0%, 0%, 0% );
			transition: transform 200ms, opacity 200ms;
			opacity: 1;
			padding: 15px;
			transform-origin: center center;
			transform: translate( 0%, 0% );
			h3, h4 {
				font-weight: normal;
				font-size: 1.25em;
				line-height: 1.25em;
				max-height: 1.25em * 3;
			}
		}

		&__excerpt {
			@extend %y-center;
			@include position ( absolute, 0%, 0%, 0%, 0% );
			overflow: hidden;
			transition: transform 200ms, opacity 200ms;
			opacity: 0;
			padding: 15px;
			transform-origin: center center;
			transform: translate( -10%, 0% );
			p {
				max-height: 1.25em * 6;
				line-height: 1.25em;
				font-size: 1em;
			}
		}

	} // entry

} // flat