//
//	IMPORTANT
//


.important {

	max-width: 640px;
	margin: 0px auto;
	&:hover .entry .overflow { background-color: rgba( 0, 0, 0, 0.75 ); }
	&:hover .entry .excerpt { max-height: 480px; opacity: 1; }

	&__entry {
		@include color ( #fff, #fff, #fff, #fff );
		@include td ( none, none );
		position: relative;
		display: block;
		text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.50 );
		overflow: hidden;
	}

	.entry {

		.overflow {
			@include position ( absolute, auto, 0%, 0%, 0% );
			background-color: rgba( 0, 0, 0, 0.50 );
			padding: 0px 5px;
		}

		.attachment-thumbnail {
			display: block;
			width: 100%;
		}

		&__title {
			margin: 0.25em 0em;
			font-size: 1em;
			line-height: 1.25em;
			max-height: 3.0em;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: normal;
			@include min-width ( $screen-sm ) {
				font-size: 1.50em;
				line-height: 1.50em;
				max-height: 4.5em;
				font-weight: normal;
			}
		}

		&__excerpt {
			line-height: 1.25em;
			margin: 0.25em 0em;
			max-height: 0px;
			overflow: hidden;
			opacity: 0;
			transition: max-height 500ms, opacity 350ms;
			p { margin: 0em; }
		}

	} // entry
	
	.slick-arrow {
	  position: absolute;
	  top: 50%;
	  z-index: 50;
	  background-color: rgba( 255, 255, 255, 0.25 );
	  border: none;
	  padding: 10px;
	  margin: -25px 0px 0px 0px;
	  cursor: pointer;
	  &:hover { background-color: rgba( 255, 255, 255, 0.75 ); }
	}

	.slick-prev {
		left: auto;
		right: 100%;
		@include min-width( $screen-md ) {
			left: 0%;
			right: auto;
		}
	}
	.slick-next {
		left: 100%;
		right: auto;
		@include min-width( $screen-md ) {
			left: auto;
			right: 0%;
		}
	}

	.slick-dots {
		@extend %list-inline;
		text-align: right;
		font-size: 0px;
		line-height: 0px;
		margin: 5px 0px;
		li:before { display: none; }
		button {
			@include size ( 10px, 10px );
			@include bgc ( #fff, lighten( $brand-success, 15% ) );
			display: block;
			cursor: pointer;
			border-radius: 50%;
			padding: 0px;
			margin: 0px;
			background-color: #fff;
			border: 2px solid $brand-success;
		}
		.slick-active button { background-color: $brand-success; }
	}


}