//
//	Новости / блог
//


.news {


	&__entry {
		margin: 2em 0em;
		border-bottom: 1px solid lighten( $border-color-default, 50% );
		padding-bottom: 5px;
		&:last-of-type {
			margin-bottom: 0em;
			border-bottom: none;
		}
	}


	.entry {

		&__title {
			font-weight: normal;
			font-size: 1.35em;
			margin: 5px 0px;
			a { @include td ( none, none ); }
		}

		&__excerpt {
			margin: 5px 0px;
			p { margin: 0px; }
		}

		.wp-post-imag {
			display: block;
		}

	} // entry


}