//
//	Стили секции "Проекты" главной страницы
//



.projects {

	.slider-prev { left: 0%; margin-left: -20px; }
	.slider-next { right: 0%; margin-right: -20px; }


	.slider-for {

		.entry {

		}
		.wp-post-image {
			max-height: 300px;
		}

	} // .slider-for

	.slider-nav {
		.entry {
			display: block;
			border: 0px;
			padding: 0px;
			margin: 0px;
			cursor: pointer;
		}
		.wp-post-image { height: 75px; }
	} // .slider-nav

}