/**
 *
 */



.search {

	&__list {
		counter-reset: searchCounter;
		list-style-type: none;
		padding-left: 0px;
		> li,
		> .entry {
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid #eee;
			> * { padding-left: 40px; }
			&:first-child { border-top: none; }
			.title { margin: 5px 0px; }
		} // item
		> .entry:before,
		> li:before {
			counter-increment: searchCounter;
			content: counter( searchCounter );
			color: white;
			display: block;
			text-align: center;
			margin: 5px 10px 5px 0px;
			line-height: 40px;
			width: 40px;
			height: 40px;
			float: left;
			font-weight: normal;
			font-size: 20px;
			text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.50 );
			box-shadow: inset 0px 0px 8px rgba( 0, 0, 0, 0.25 );
			background-color: $brand-success;
		}

	} // list

}