//
//	Кнопки
//

.btn {

	@include color ( #fff, #fff, #fff, #fff );
	@include td ( none, none );
	display: inline-block;
	border-radius: 1px;
	padding: 5px 10px;
	margin: 2px;
	cursor: pointer;
	text-align: center;
	margin: 0px 2px;
	box-shadow: 0px 0px 3px rgba( 0, 0, 0, 0.25 );
	transition: box-shadow 200ms, background-color 200ms;
	border: 0px;
	color: #fff !important;
	&:hover { box-shadow: 0px 0px 3px rgba( 0, 0, 0, 0.50 ); }

	&-default {
		background-color: #262626;
	}

	&-primary {
		background-color: $brand-primary;
		&:hover { background-color: lighten( $brand-primary, 3% ); }
	}

	&-success {
		background-color: $brand-success;
		&:hover { background-color: lighten( $brand-success, 3% ); }
	}

	&-xs {
		padding: 2px 5px;
		font-size: 0.85em;
	}

	&-md {
		padding: 10px 20px;
		font-size: 1.25em;
	}

	&-lg {
		padding: 20px 25px;
		font-size: 1.75em;
	}

	&-block {
		display: block;
		width: 100%;
	}

}