//
//	ФОРМЫ
//

form {

	label { font-weight: bold; }

	.form-group {
		@extend %clearfix; margin: 15px 0px;
		&--sm { @extend %clearfix; margin: 5px 0px; }
	}

	.form-control,
	input,
	textarea {
		display: block;
		width: 100%;
		margin: 3px 0px;
		padding: 5px;
		border: 1px solid $border-color-default;
		cursor: pointer;
		&:focus,
		&:hover {
			border: 1px solid $brand-success;
			box-shadow: inset 0px 0px 3px rgba( 0, 0, 0, 0.50 );
		}
	}

	.textarea { resize: vertical; }

	.input-group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		> .form-control,
		> input,
		> textarea,
		> button {
			margin: 0px;
		}
		button + .form-control,
		button + input,
		button + textarea {
			border-left: none;
		}
		.form-control + button,
		input + button,
		textarea + button {
			border-left: none;
		}
	}


}