// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$chevron-up-name: 'chevron-up';
$chevron-up-x: 0px;
$chevron-up-y: 0px;
$chevron-up-offset-x: 0px;
$chevron-up-offset-y: 0px;
$chevron-up-width: 35px;
$chevron-up-height: 35px;
$chevron-up-total-width: 130px;
$chevron-up-total-height: 118px;
$chevron-up-image: '../images/icon.png';
$chevron-up: (0px, 0px, 0px, 0px, 35px, 35px, 130px, 118px, '../images/icon.png', 'chevron-up', );
$csv-name: 'csv';
$csv-x: 0px;
$csv-y: 94px;
$csv-offset-x: 0px;
$csv-offset-y: -94px;
$csv-width: 24px;
$csv-height: 24px;
$csv-total-width: 130px;
$csv-total-height: 118px;
$csv-image: '../images/icon.png';
$csv: (0px, 94px, 0px, -94px, 24px, 24px, 130px, 118px, '../images/icon.png', 'csv', );
$doc-name: 'doc';
$doc-x: 24px;
$doc-y: 70px;
$doc-offset-x: -24px;
$doc-offset-y: -70px;
$doc-width: 24px;
$doc-height: 24px;
$doc-total-width: 130px;
$doc-total-height: 118px;
$doc-image: '../images/icon.png';
$doc: (24px, 70px, -24px, -70px, 24px, 24px, 130px, 118px, '../images/icon.png', 'doc', );
$down-arrow-name: 'down-arrow';
$down-arrow-x: 118px;
$down-arrow-y: 0px;
$down-arrow-offset-x: -118px;
$down-arrow-offset-y: 0px;
$down-arrow-width: 12px;
$down-arrow-height: 12px;
$down-arrow-total-width: 130px;
$down-arrow-total-height: 118px;
$down-arrow-image: '../images/icon.png';
$down-arrow: (118px, 0px, -118px, 0px, 12px, 12px, 130px, 118px, '../images/icon.png', 'down-arrow', );
$dwg-name: 'dwg';
$dwg-x: 70px;
$dwg-y: 0px;
$dwg-offset-x: -70px;
$dwg-offset-y: 0px;
$dwg-width: 24px;
$dwg-height: 24px;
$dwg-total-width: 130px;
$dwg-total-height: 118px;
$dwg-image: '../images/icon.png';
$dwg: (70px, 0px, -70px, 0px, 24px, 24px, 130px, 118px, '../images/icon.png', 'dwg', );
$item-arrow-name: 'item-arrow';
$item-arrow-x: 96px;
$item-arrow-y: 94px;
$item-arrow-offset-x: -96px;
$item-arrow-offset-y: -94px;
$item-arrow-width: 14px;
$item-arrow-height: 11px;
$item-arrow-total-width: 130px;
$item-arrow-total-height: 118px;
$item-arrow-image: '../images/icon.png';
$item-arrow: (96px, 94px, -96px, -94px, 14px, 11px, 130px, 118px, '../images/icon.png', 'item-arrow', );
$more-arrow-name: 'more-arrow';
$more-arrow-x: 72px;
$more-arrow-y: 70px;
$more-arrow-offset-x: -72px;
$more-arrow-offset-y: -70px;
$more-arrow-width: 14px;
$more-arrow-height: 14px;
$more-arrow-total-width: 130px;
$more-arrow-total-height: 118px;
$more-arrow-image: '../images/icon.png';
$more-arrow: (72px, 70px, -72px, -70px, 14px, 14px, 130px, 118px, '../images/icon.png', 'more-arrow', );
$more-name: 'more';
$more-x: 70px;
$more-y: 64px;
$more-offset-x: -70px;
$more-offset-y: -64px;
$more-width: 22px;
$more-height: 6px;
$more-total-width: 130px;
$more-total-height: 118px;
$more-image: '../images/icon.png';
$more: (70px, 64px, -70px, -64px, 22px, 6px, 130px, 118px, '../images/icon.png', 'more', );
$mp3-name: 'mp3';
$mp3-x: 48px;
$mp3-y: 70px;
$mp3-offset-x: -48px;
$mp3-offset-y: -70px;
$mp3-width: 24px;
$mp3-height: 24px;
$mp3-total-width: 130px;
$mp3-total-height: 118px;
$mp3-image: '../images/icon.png';
$mp3: (48px, 70px, -48px, -70px, 24px, 24px, 130px, 118px, '../images/icon.png', 'mp3', );
$odt-name: 'odt';
$odt-x: 94px;
$odt-y: 0px;
$odt-offset-x: -94px;
$odt-offset-y: 0px;
$odt-width: 24px;
$odt-height: 24px;
$odt-total-width: 130px;
$odt-total-height: 118px;
$odt-image: '../images/icon.png';
$odt: (94px, 0px, -94px, 0px, 24px, 24px, 130px, 118px, '../images/icon.png', 'odt', );
$pdf-name: 'pdf';
$pdf-x: 94px;
$pdf-y: 24px;
$pdf-offset-x: -94px;
$pdf-offset-y: -24px;
$pdf-width: 24px;
$pdf-height: 24px;
$pdf-total-width: 130px;
$pdf-total-height: 118px;
$pdf-image: '../images/icon.png';
$pdf: (94px, 24px, -94px, -24px, 24px, 24px, 130px, 118px, '../images/icon.png', 'pdf', );
$psd-name: 'psd';
$psd-x: 94px;
$psd-y: 48px;
$psd-offset-x: -94px;
$psd-offset-y: -48px;
$psd-width: 24px;
$psd-height: 24px;
$psd-total-width: 130px;
$psd-total-height: 118px;
$psd-image: '../images/icon.png';
$psd: (94px, 48px, -94px, -48px, 24px, 24px, 130px, 118px, '../images/icon.png', 'psd', );
$quote-name: 'quote';
$quote-x: 70px;
$quote-y: 48px;
$quote-offset-x: -70px;
$quote-offset-y: -48px;
$quote-width: 16px;
$quote-height: 16px;
$quote-total-width: 130px;
$quote-total-height: 118px;
$quote-image: '../images/icon.png';
$quote: (70px, 48px, -70px, -48px, 16px, 16px, 130px, 118px, '../images/icon.png', 'quote', );
$rar-name: 'rar';
$rar-x: 24px;
$rar-y: 94px;
$rar-offset-x: -24px;
$rar-offset-y: -94px;
$rar-width: 24px;
$rar-height: 24px;
$rar-total-width: 130px;
$rar-total-height: 118px;
$rar-image: '../images/icon.png';
$rar: (24px, 94px, -24px, -94px, 24px, 24px, 130px, 118px, '../images/icon.png', 'rar', );
$rss-name: 'rss';
$rss-x: 94px;
$rss-y: 72px;
$rss-offset-x: -94px;
$rss-offset-y: -72px;
$rss-width: 20px;
$rss-height: 20px;
$rss-total-width: 130px;
$rss-total-height: 118px;
$rss-image: '../images/icon.png';
$rss: (94px, 72px, -94px, -72px, 20px, 20px, 130px, 118px, '../images/icon.png', 'rss', );
$rtf-name: 'rtf';
$rtf-x: 72px;
$rtf-y: 94px;
$rtf-offset-x: -72px;
$rtf-offset-y: -94px;
$rtf-width: 24px;
$rtf-height: 24px;
$rtf-total-width: 130px;
$rtf-total-height: 118px;
$rtf-image: '../images/icon.png';
$rtf: (72px, 94px, -72px, -94px, 24px, 24px, 130px, 118px, '../images/icon.png', 'rtf', );
$share-name: 'share';
$share-x: 118px;
$share-y: 12px;
$share-offset-x: -118px;
$share-offset-y: -12px;
$share-width: 8px;
$share-height: 16px;
$share-total-width: 130px;
$share-total-height: 118px;
$share-image: '../images/icon.png';
$share: (118px, 12px, -118px, -12px, 8px, 16px, 130px, 118px, '../images/icon.png', 'share', );
$sort-down-name: 'sort-down';
$sort-down-x: 35px;
$sort-down-y: 35px;
$sort-down-offset-x: -35px;
$sort-down-offset-y: -35px;
$sort-down-width: 35px;
$sort-down-height: 35px;
$sort-down-total-width: 130px;
$sort-down-total-height: 118px;
$sort-down-image: '../images/icon.png';
$sort-down: (35px, 35px, -35px, -35px, 35px, 35px, 130px, 118px, '../images/icon.png', 'sort-down', );
$tag-name: 'tag';
$tag-x: 96px;
$tag-y: 105px;
$tag-offset-x: -96px;
$tag-offset-y: -105px;
$tag-width: 12px;
$tag-height: 12px;
$tag-total-width: 130px;
$tag-total-height: 118px;
$tag-image: '../images/icon.png';
$tag: (96px, 105px, -96px, -105px, 12px, 12px, 130px, 118px, '../images/icon.png', 'tag', );
$two-left-arrows-name: 'two-left-arrows';
$two-left-arrows-x: 0px;
$two-left-arrows-y: 35px;
$two-left-arrows-offset-x: 0px;
$two-left-arrows-offset-y: -35px;
$two-left-arrows-width: 35px;
$two-left-arrows-height: 35px;
$two-left-arrows-total-width: 130px;
$two-left-arrows-total-height: 118px;
$two-left-arrows-image: '../images/icon.png';
$two-left-arrows: (0px, 35px, 0px, -35px, 35px, 35px, 130px, 118px, '../images/icon.png', 'two-left-arrows', );
$two-right-arrows-name: 'two-right-arrows';
$two-right-arrows-x: 35px;
$two-right-arrows-y: 0px;
$two-right-arrows-offset-x: -35px;
$two-right-arrows-offset-y: 0px;
$two-right-arrows-width: 35px;
$two-right-arrows-height: 35px;
$two-right-arrows-total-width: 130px;
$two-right-arrows-total-height: 118px;
$two-right-arrows-image: '../images/icon.png';
$two-right-arrows: (35px, 0px, -35px, 0px, 35px, 35px, 130px, 118px, '../images/icon.png', 'two-right-arrows', );
$txt-name: 'txt';
$txt-x: 70px;
$txt-y: 24px;
$txt-offset-x: -70px;
$txt-offset-y: -24px;
$txt-width: 24px;
$txt-height: 24px;
$txt-total-width: 130px;
$txt-total-height: 118px;
$txt-image: '../images/icon.png';
$txt: (70px, 24px, -70px, -24px, 24px, 24px, 130px, 118px, '../images/icon.png', 'txt', );
$xls-name: 'xls';
$xls-x: 48px;
$xls-y: 94px;
$xls-offset-x: -48px;
$xls-offset-y: -94px;
$xls-width: 24px;
$xls-height: 24px;
$xls-total-width: 130px;
$xls-total-height: 118px;
$xls-image: '../images/icon.png';
$xls: (48px, 94px, -48px, -94px, 24px, 24px, 130px, 118px, '../images/icon.png', 'xls', );
$zip-name: 'zip';
$zip-x: 0px;
$zip-y: 70px;
$zip-offset-x: 0px;
$zip-offset-y: -70px;
$zip-width: 24px;
$zip-height: 24px;
$zip-total-width: 130px;
$zip-total-height: 118px;
$zip-image: '../images/icon.png';
$zip: (0px, 70px, 0px, -70px, 24px, 24px, 130px, 118px, '../images/icon.png', 'zip', );
$spritesheet-width: 130px;
$spritesheet-height: 118px;
$spritesheet-image: '../images/icon.png';
$spritesheet-sprites: ($chevron-up, $csv, $doc, $down-arrow, $dwg, $item-arrow, $more-arrow, $more, $mp3, $odt, $pdf, $psd, $quote, $rar, $rss, $rtf, $share, $sort-down, $tag, $two-left-arrows, $two-right-arrows, $txt, $xls, $zip, );
$spritesheet: (130px, 118px, '../images/icon.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
