// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$chevron-up-name: 'chevron-up';
$chevron-up-x: 0px;
$chevron-up-y: 0px;
$chevron-up-offset-x: 0px;
$chevron-up-offset-y: 0px;
$chevron-up-width: 35px;
$chevron-up-height: 35px;
$chevron-up-total-width: 118px;
$chevron-up-total-height: 118px;
$chevron-up-image: '../images/icon.png';
$chevron-up: (0px, 0px, 0px, 0px, 35px, 35px, 118px, 118px, '../images/icon.png', 'chevron-up', );
$csv-name: 'csv';
$csv-x: 94px;
$csv-y: 24px;
$csv-offset-x: -94px;
$csv-offset-y: -24px;
$csv-width: 24px;
$csv-height: 24px;
$csv-total-width: 118px;
$csv-total-height: 118px;
$csv-image: '../images/icon.png';
$csv: (94px, 24px, -94px, -24px, 24px, 24px, 118px, 118px, '../images/icon.png', 'csv', );
$doc-name: 'doc';
$doc-x: 48px;
$doc-y: 94px;
$doc-offset-x: -48px;
$doc-offset-y: -94px;
$doc-width: 24px;
$doc-height: 24px;
$doc-total-width: 118px;
$doc-total-height: 118px;
$doc-image: '../images/icon.png';
$doc: (48px, 94px, -48px, -94px, 24px, 24px, 118px, 118px, '../images/icon.png', 'doc', );
$dwg-name: 'dwg';
$dwg-x: 72px;
$dwg-y: 94px;
$dwg-offset-x: -72px;
$dwg-offset-y: -94px;
$dwg-width: 24px;
$dwg-height: 24px;
$dwg-total-width: 118px;
$dwg-total-height: 118px;
$dwg-image: '../images/icon.png';
$dwg: (72px, 94px, -72px, -94px, 24px, 24px, 118px, 118px, '../images/icon.png', 'dwg', );
$mp3-name: 'mp3';
$mp3-x: 70px;
$mp3-y: 0px;
$mp3-offset-x: -70px;
$mp3-offset-y: 0px;
$mp3-width: 24px;
$mp3-height: 24px;
$mp3-total-width: 118px;
$mp3-total-height: 118px;
$mp3-image: '../images/icon.png';
$mp3: (70px, 0px, -70px, 0px, 24px, 24px, 118px, 118px, '../images/icon.png', 'mp3', );
$odt-name: 'odt';
$odt-x: 70px;
$odt-y: 24px;
$odt-offset-x: -70px;
$odt-offset-y: -24px;
$odt-width: 24px;
$odt-height: 24px;
$odt-total-width: 118px;
$odt-total-height: 118px;
$odt-image: '../images/icon.png';
$odt: (70px, 24px, -70px, -24px, 24px, 24px, 118px, 118px, '../images/icon.png', 'odt', );
$pdf-name: 'pdf';
$pdf-x: 0px;
$pdf-y: 70px;
$pdf-offset-x: 0px;
$pdf-offset-y: -70px;
$pdf-width: 24px;
$pdf-height: 24px;
$pdf-total-width: 118px;
$pdf-total-height: 118px;
$pdf-image: '../images/icon.png';
$pdf: (0px, 70px, 0px, -70px, 24px, 24px, 118px, 118px, '../images/icon.png', 'pdf', );
$psd-name: 'psd';
$psd-x: 24px;
$psd-y: 70px;
$psd-offset-x: -24px;
$psd-offset-y: -70px;
$psd-width: 24px;
$psd-height: 24px;
$psd-total-width: 118px;
$psd-total-height: 118px;
$psd-image: '../images/icon.png';
$psd: (24px, 70px, -24px, -70px, 24px, 24px, 118px, 118px, '../images/icon.png', 'psd', );
$quote-name: 'quote';
$quote-x: 70px;
$quote-y: 48px;
$quote-offset-x: -70px;
$quote-offset-y: -48px;
$quote-width: 16px;
$quote-height: 16px;
$quote-total-width: 118px;
$quote-total-height: 118px;
$quote-image: '../images/icon.png';
$quote: (70px, 48px, -70px, -48px, 16px, 16px, 118px, 118px, '../images/icon.png', 'quote', );
$rar-name: 'rar';
$rar-x: 94px;
$rar-y: 0px;
$rar-offset-x: -94px;
$rar-offset-y: 0px;
$rar-width: 24px;
$rar-height: 24px;
$rar-total-width: 118px;
$rar-total-height: 118px;
$rar-image: '../images/icon.png';
$rar: (94px, 0px, -94px, 0px, 24px, 24px, 118px, 118px, '../images/icon.png', 'rar', );
$rss-symbol-name: 'rss-symbol';
$rss-symbol-x: 94px;
$rss-symbol-y: 72px;
$rss-symbol-offset-x: -94px;
$rss-symbol-offset-y: -72px;
$rss-symbol-width: 20px;
$rss-symbol-height: 20px;
$rss-symbol-total-width: 118px;
$rss-symbol-total-height: 118px;
$rss-symbol-image: '../images/icon.png';
$rss-symbol: (94px, 72px, -94px, -72px, 20px, 20px, 118px, 118px, '../images/icon.png', 'rss-symbol', );
$rtf-name: 'rtf';
$rtf-x: 94px;
$rtf-y: 48px;
$rtf-offset-x: -94px;
$rtf-offset-y: -48px;
$rtf-width: 24px;
$rtf-height: 24px;
$rtf-total-width: 118px;
$rtf-total-height: 118px;
$rtf-image: '../images/icon.png';
$rtf: (94px, 48px, -94px, -48px, 24px, 24px, 118px, 118px, '../images/icon.png', 'rtf', );
$share-name: 'share';
$share-x: 86px;
$share-y: 48px;
$share-offset-x: -86px;
$share-offset-y: -48px;
$share-width: 8px;
$share-height: 16px;
$share-total-width: 118px;
$share-total-height: 118px;
$share-image: '../images/icon.png';
$share: (86px, 48px, -86px, -48px, 8px, 16px, 118px, 118px, '../images/icon.png', 'share', );
$sort-down-name: 'sort-down';
$sort-down-x: 35px;
$sort-down-y: 0px;
$sort-down-offset-x: -35px;
$sort-down-offset-y: 0px;
$sort-down-width: 35px;
$sort-down-height: 35px;
$sort-down-total-width: 118px;
$sort-down-total-height: 118px;
$sort-down-image: '../images/icon.png';
$sort-down: (35px, 0px, -35px, 0px, 35px, 35px, 118px, 118px, '../images/icon.png', 'sort-down', );
$tag-name: 'tag';
$tag-x: 72px;
$tag-y: 70px;
$tag-offset-x: -72px;
$tag-offset-y: -70px;
$tag-width: 12px;
$tag-height: 12px;
$tag-total-width: 118px;
$tag-total-height: 118px;
$tag-image: '../images/icon.png';
$tag: (72px, 70px, -72px, -70px, 12px, 12px, 118px, 118px, '../images/icon.png', 'tag', );
$two-left-arrows-name: 'two-left-arrows';
$two-left-arrows-x: 35px;
$two-left-arrows-y: 35px;
$two-left-arrows-offset-x: -35px;
$two-left-arrows-offset-y: -35px;
$two-left-arrows-width: 35px;
$two-left-arrows-height: 35px;
$two-left-arrows-total-width: 118px;
$two-left-arrows-total-height: 118px;
$two-left-arrows-image: '../images/icon.png';
$two-left-arrows: (35px, 35px, -35px, -35px, 35px, 35px, 118px, 118px, '../images/icon.png', 'two-left-arrows', );
$two-right-arrows-name: 'two-right-arrows';
$two-right-arrows-x: 0px;
$two-right-arrows-y: 35px;
$two-right-arrows-offset-x: 0px;
$two-right-arrows-offset-y: -35px;
$two-right-arrows-width: 35px;
$two-right-arrows-height: 35px;
$two-right-arrows-total-width: 118px;
$two-right-arrows-total-height: 118px;
$two-right-arrows-image: '../images/icon.png';
$two-right-arrows: (0px, 35px, 0px, -35px, 35px, 35px, 118px, 118px, '../images/icon.png', 'two-right-arrows', );
$txt-name: 'txt';
$txt-x: 0px;
$txt-y: 94px;
$txt-offset-x: 0px;
$txt-offset-y: -94px;
$txt-width: 24px;
$txt-height: 24px;
$txt-total-width: 118px;
$txt-total-height: 118px;
$txt-image: '../images/icon.png';
$txt: (0px, 94px, 0px, -94px, 24px, 24px, 118px, 118px, '../images/icon.png', 'txt', );
$xls-name: 'xls';
$xls-x: 48px;
$xls-y: 70px;
$xls-offset-x: -48px;
$xls-offset-y: -70px;
$xls-width: 24px;
$xls-height: 24px;
$xls-total-width: 118px;
$xls-total-height: 118px;
$xls-image: '../images/icon.png';
$xls: (48px, 70px, -48px, -70px, 24px, 24px, 118px, 118px, '../images/icon.png', 'xls', );
$zip-name: 'zip';
$zip-x: 24px;
$zip-y: 94px;
$zip-offset-x: -24px;
$zip-offset-y: -94px;
$zip-width: 24px;
$zip-height: 24px;
$zip-total-width: 118px;
$zip-total-height: 118px;
$zip-image: '../images/icon.png';
$zip: (24px, 94px, -24px, -94px, 24px, 24px, 118px, 118px, '../images/icon.png', 'zip', );
$spritesheet-width: 118px;
$spritesheet-height: 118px;
$spritesheet-image: '../images/icon.png';
$spritesheet-sprites: ($chevron-up, $csv, $doc, $dwg, $mp3, $odt, $pdf, $psd, $quote, $rar, $rss-symbol, $rtf, $share, $sort-down, $tag, $two-left-arrows, $two-right-arrows, $txt, $xls, $zip, );
$spritesheet: (118px, 118px, '../images/icon.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
