.nav__list {

  display: block;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.75 );

  li {
    display: inline-block;
    position: relative;
    z-index: 100;
    &:before { display: none; }
    &:first-child { margin-left:0; }

    a {
      text-decoration: none;
      padding: 11px;
      display: block;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      transition: all 0.2s ease-in-out 0s;
      .icon { margin-left: 10px; }
    }

    a:hover,
    &:hover > a {
      color: #ffffff;
      background: $brand-success;
    }

    &:hover > ul { display: block; }

  } // li

  ul {

    display: none;
    margin: 0px;
    padding: 3px 0px 0px 0px;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0%;

    li {
      display: block;
      float: none;
      background: none;
      margin: 0;
      padding: 0;
      background: #3E4156;
      &:before { display: none; }
    }

    li a {
      font-size: 12px;
      font-weight: normal;
      color: #797979;
      background: #3E4156;
    }

    li a:hover,
    li:hover > a { background: $brand-success; }

  } // ul

  ul ul {
    left: 100%;
    top: 0%;
    padding-left: 3px;
  }

} // nav__list


  

.nav__burger {
  display: none;
  width: 100%;
  padding: 10px;
  background: $brand-primary;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  cursor: pointer;
  &:hover {
    background: $brand-success;
  }
}


@media ( min-width: 768px ) and ( max-width: 979px ) {

  .mainWrap{ width:768px; }
  .nav__list ul { top:37px; }
  .nav__list li a {
    font-size:12px;
    padding:8px;
  }

}

@media ( max-width: 767px ) {

  .mainWrap {
    width: auto;
    padding: 50px 20px;
  }

  .nav__list{ display: none; }

  .nav__burger {
    display: block;
  }

  .nav {
    margin: 0;
    background: none;
  }

  .nav__list li {
    display: block;
    margin: 0;
  }

  .nav__list li a { border-top: 1px solid #e0e0e0; }
  .nav__list > li:first-child a { border-top: none; }

  .nav__list li a:hover,
  .nav__list li:hover > a {
    background: $brand-success;
  }

  .nav__list ul {
    display:block;
    position:relative;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 0px;
  }

  .nav__list ul ul { left: 0%; padding: 0px; }
  .nav__list ul ul a { left: 0%; padding-left: 35px; }

}

@media ( max-width: 480px ) {

}


@media ( max-width: 320px ) {

}