//
//	Секции
//


.section {

	margin: 0px;

	&.grey {
		background-color: #eee;
		box-shadow: 0px 0px 3px rgba( 0, 0, 0, 0.50 ) inset;
	}

	&__heading {
		text-align: center;
		padding: 25px 0px;
		.title {
			font-size: 26px;
			text-transform: uppercase;
			margin: 5px 0px;
			font-weight: normal;
			a { @include td ( none, none ); @include color ( inherit, inherit, inherit, inherit ); }
		}
		.description {
			margin: 5px 0px;
		}
	} // heading

	&__body {
		padding: 25px 0px;
		position: relative;
	} // body

	&__basement {
		padding: 25px 0px;
	} // basement

}