//
//	Элементы слайдера
//



%slider-arrow {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	background-color: $brand-primary;
	pointer-events: auto;
	width: 40px;
	height: 40px;
	color: #fff;
	border: 0px;
	background-color: $brand-success;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.75 );
	z-index: 50;
	&:hover { background-color: $brand-primary; }
}

.slider-arrow { @extend %slider-arrow; }

.slider-dots {
	display: block;
	text-align: center;
	padding: 15px 0px;
	li { display: inline-block; margin: 0px 5px; }
	li:before { display: none; }

	.slick-active button {
		border: 2px solid $brand-primary;
		background-color: $brand-primary;
		transform: rotate( 45deg );
	}
	.slick-active button:hover { background-color: $brand-primary; }

	button {
		display: block;
		width: 13px;
		height: 13px;
		border: 2px solid $brand-success;
		padding: 0px;
		margin: 0px;
		font-size: 0px;
		line-height: 0px;
		cursor: pointer;
		translate-origin: center center;
		box-shadow: 0px 0px 2px rgba( 0, 0, 0, 0.25 );
		transform: rotate( 0deg );
		transition: transform 250ms, background-color 250ms;
		&:hover { background-color: $brand-success; }
	}

}