.to-top-btn {
	position: fixed;
	left: 25px;
	bottom: 25px;
	width: 70px;
	height: 70px;
	border: 3px solid $brand-primary;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 5px #262626, inset 0px 0px 5px rgba( 0, 0, 0, 0.75 );
	z-index: 999;
	color: #fff;
	background-color: rgba( 255, 255, 255, 0.25 );
	font-size: 0px;
	line-height: 0px;
	padding: 0px;;
	&:before {
		// @extend .icon;
		// @extend .icon-chevron-up;
		content: '';
	}
	&:hover {
		background-color: $brand-primary;
	}
}