form( action="#", method="post" )
	label
		span Ваше имя
		input( type="text", placeholder="placeholder" )
	label
		span Ваш email
		input( type="email", placeholder="placeholder", required )
	label
		span Ваш телефон
		input( type="text", placeholder="placeholder" )
	label
		span Сообщение
		textarea( placeholder="placeholder" )
	menu.text-center
		button.btn.btn-success.btn-lg( type="submin" ) Отправить