form#searchform.searchform.form( role="search", method="get", action="#" ): .form-group: .input-group
	input#s.form-control( type="text", value="", name="s" )
	button#searchsubmit.btn.btn-success.btn-md( type="submit", role="button" ) Найти