-
  var blog = {
    name: 'Профком ПДТУ',
    description: 'Профком ПДТУ',
  }
  var page = {
    title: blog.name,
    excerpt: blog.description,
    type: 'home',
  }
  var src = {
  	img: 'images/',
  	js: 'scripts/',
  	css: 'css/',
  }