//-
	Списки

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		hr
		h2 Кнопки
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		button.btn.btn-default Default
		button.btn.btn-primary Primary
		button.btn.btn-success Success
		button.btn.btn-warning Warning
		button.btn.btn-danger Danger
		button.btn.btn-link Link
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;button class="btn btn-default"&gt;Default&lt;/button&gt;
		&lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
		&lt;button class="btn btn-success"&gt;Success&lt;/button&gt;
		&lt;button class="btn btn-warning"&gt;Warning&lt;/button&gt;
		&lt;button class="btn btn-danger"&gt;Danger&lt;/button&gt;
		&lt;button class="btn btn-link"&gt;Link&lt;/button&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		button.btn-block.btn.btn-default Default
		button.btn-block.btn.btn-primary Primary
		button.btn-block.btn.btn-success Success
		button.btn-block.btn.btn-warning Warning
		button.btn-block.btn.btn-danger Danger
		button.btn-block.btn.btn-link Link
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;button class="btn-block btn btn-default"&gt;Default&lt;/button&gt;
		&lt;button class="btn-block btn btn-primary"&gt;Primary&lt;/button&gt;
		&lt;button class="btn-block btn btn-success"&gt;Success&lt;/button&gt;
		&lt;button class="btn-block btn btn-warning"&gt;Warning&lt;/button&gt;
		&lt;button class="btn-block btn btn-danger"&gt;Danger&lt;/button&gt;
		&lt;button class="btn-block btn btn-link"&gt;Link&lt;/button&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		button.btn-xs.btn.btn-default Default
		button.btn-xs.btn.btn-primary Primary
		button.btn-xs.btn.btn-success Success
		button.btn-xs.btn.btn-warning Warning
		button.btn-xs.btn.btn-danger Danger
		button.btn-xs.btn.btn-link Link
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;button class="btn-xs btn btn-default"&gt;Default&lt;/button&gt;
		&lt;button class="btn-xs btn btn-primary"&gt;Primary&lt;/button&gt;
		&lt;button class="btn-xs btn btn-success"&gt;Success&lt;/button&gt;
		&lt;button class="btn-xs btn btn-warning"&gt;Warning&lt;/button&gt;
		&lt;button class="btn-xs btn btn-danger"&gt;Danger&lt;/button&gt;
		&lt;button class="btn-xs btn btn-link"&gt;Link&lt;/button&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		button.btn-md.btn.btn-default Default
		button.btn-md.btn.btn-primary Primary
		button.btn-md.btn.btn-success Success
		button.btn-md.btn.btn-warning Warning
		button.btn-md.btn.btn-danger Danger
		button.btn-md.btn.btn-link Link
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;button class="btn-md btn btn-default"&gt;Default&lt;/button&gt;
		&lt;button class="btn-md btn btn-primary"&gt;Primary&lt;/button&gt;
		&lt;button class="btn-md btn btn-success"&gt;Success&lt;/button&gt;
		&lt;button class="btn-md btn btn-warning"&gt;Warning&lt;/button&gt;
		&lt;button class="btn-md btn btn-danger"&gt;Danger&lt;/button&gt;
		&lt;button class="btn-md btn btn-link"&gt;Link&lt;/button&gt;
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		button.btn-lg.btn.btn-default Default
		button.btn-lg.btn.btn-primary Primary
		button.btn-lg.btn.btn-success Success
		button.btn-lg.btn.btn-warning Warning
		button.btn-lg.btn.btn-danger Danger
		button.btn-lg.btn.btn-link Link
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;button class="btn-lg btn btn-default"&gt;Default&lt;/button&gt;
		&lt;button class="btn-lg btn btn-primary"&gt;Primary&lt;/button&gt;
		&lt;button class="btn-lg btn btn-success"&gt;Success&lt;/button&gt;
		&lt;button class="btn-lg btn btn-warning"&gt;Warning&lt;/button&gt;
		&lt;button class="btn-lg btn btn-danger"&gt;Danger&lt;/button&gt;
		&lt;button class="btn-lg btn btn-link"&gt;Link&lt;/button&gt;