//-
	Заголовки

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		hr
		h2 Заголовки
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		h1 Заголовок 1-го уровня #[small small]
		h2 Заголовок 2-го уровня #[small small]
		h3 Заголовок 3-го уровня #[small small]
		h4 Заголовок 4-го уровня #[small small]
		h5 Заголовок 5-го уровня #[small small]
		h6 Заголовок 6-го уровня #[small small]
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: pre: code.language-markup.
		&lt;h1&gt;Заголовок 1-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h1&gt;
		&lt;h2&gt;Заголовок 2-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h2&gt;
		&lt;h3&gt;Заголовок 3-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h3&gt;
		&lt;h4&gt;Заголовок 4-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h4&gt;
		&lt;h5&gt;Заголовок 5-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h5&gt;
		&lt;h6&gt;Заголовок 6-го уровня &lt;small&gt;small&lt;/small&gt;&lt;/h6&gt;