//-
	Спрайты

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		hr
		h2 Спрайты
.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12: table.table-primary
		thead
			th Иконка
			th Класс
			th Код
		tbody
			tr
				td.bg-primary.text-center: i.icon.icon-chevron-up
				td: code icon-chevron-up
				td: div: pre: code.language-markup &lt;i class="icon icon-chevron-up"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-cvs
				td: code icon-cvs
				td: div: pre: code.language-markup &lt;i class="icon icon-cvs"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-doc
				td: code icon-doc
				td: div: pre: code.language-markup &lt;i class="icon icon-doc"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-down-arrow
				td: code icon-down-arrow
				td: div: pre: code.language-markup &lt;i class="icon icon-down-arrow"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-dwg
				td: code icon-dwg
				td: div: pre: code.language-markup &lt;i class="icon icon-dwg"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-help
				td: code icon-help
				td: div: pre: code.language-markup &lt;i class="icon icon-help"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-item-arrow
				td: code icon-item-arrow
				td: div: pre: code.language-markup &lt;i class="icon icon-item-arrow"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-more
				td: code icon-more
				td: div: pre: code.language-markup &lt;i class="icon icon-more"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-more-arrow
				td: code icon-more-arrow
				td: div: pre: code.language-markup &lt;i class="icon icon-more-arrow"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-mp3
				td: code icon-mp3
				td: div: pre: code.language-markup &lt;i class="icon icon-mp3"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-odt
				td: code icon-odt
				td: div: pre: code.language-markup &lt;i class="icon icon-odt"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-pdf
				td: code icon-pdf
				td: div: pre: code.language-markup &lt;i class="icon icon-pdf"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-psd
				td: code icon-psd
				td: div: pre: code.language-markup &lt;i class="icon icon-psd"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-quote
				td: code icon-quote
				td: div: pre: code.language-markup &lt;i class="icon icon-quote"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-rar
				td: code icon-rar
				td: div: pre: code.language-markup &lt;i class="icon icon-rar"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-rss
				td: code icon-rss
				td: div: pre: code.language-markup &lt;i class="icon icon-rss"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-rtf
				td: code icon-rtf
				td: div: pre: code.language-markup &lt;i class="icon icon-rtf"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-share
				td: code icon-share
				td: div: pre: code.language-markup &lt;i class="icon icon-share"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-sort-down
				td: code icon-sort-down
				td: div: pre: code.language-markup &lt;i class="icon icon-sort-down"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-tag
				td: code icon-tag
				td: div: pre: code.language-markup &lt;i class="icon icon-tag"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-two-left-arrows
				td: code icon-two-left-arrows
				td: div: pre: code.language-markup &lt;i class="icon icon-two-left-arrows"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-two-right-arrows
				td: code icon-two-right-arrows
				td: div: pre: code.language-markup &lt;i class="icon icon-right-arrows"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-txt
				td: code icon-txt
				td: div: pre: code.language-markup &lt;i class="icon icon-txt"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-xls
				td: code icon-xls
				td: div: pre: code.language-markup &lt;i class="icon icon-xls"&gt;&lt;/i&gt;
			tr
				td.bg-primary.text-center: i.icon.icon-zip
				td: code icon-zip
				td: div: pre: code.language-markup &lt;i class="icon icon-zip"&gt;&lt;/i&gt;