//-
	Примеры таблиц

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		hr
		h2 Таблицы
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		table
			caption Пример таблицы без класса
			thead
				th Заголовок столбца
				th Заголовок столбца
				th Заголовок столбца
			tbody
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
		table.table-primary
			caption Пример таблицы с классом "table-primary"
			thead
				th Заголовок столбца
				th Заголовок столбца
				th Заголовок столбца
			tbody
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
		table.table-success
			caption Пример таблицы с классом "table-success"
			thead
				th Заголовок столбца
				th Заголовок столбца
				th Заголовок столбца
			tbody
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
		table.table-info
			caption Пример таблицы с классом "table-info"
			thead
				th Заголовок столбца
				th Заголовок столбца
				th Заголовок столбца
			tbody
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
		table.table-danger
			caption Пример таблицы с классом "table-danger"
			thead
				th Заголовок столбца
				th Заголовок столбца
				th Заголовок столбца
			tbody
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
		table.table-warning
			caption Пример таблицы с классом "table-warning"
			thead
				th Заголовок столбца
				th Заголовок столбца
				th Заголовок столбца
			tbody
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
				tr
					td Строка
					td Строка
					td Строка
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: div: pre: code.language-markup.
		&lt;table class="table-primary"&gt;
			&lt;caption&gt;Пример таблицы&lt;/caption&gt;
			&lt;thead&gt;
				&lt;th&gt;Заголовок столбца&lt;/th&gt;
				&lt;th&gt;Заголовок столбца&lt;/th&gt;
				&lt;th&gt;Заголовок столбца&lt;/th&gt;
			&lt;/thead&gt;
			&lt;tbody&gt;
				&lt;tr&gt;
					&lt;td&gt;Строка&lt;/td&gt;
					&lt;td&gt;Строка&lt;/td&gt;
					&lt;td&gt;Строка&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td&gt;Строка&lt;/td&gt;
					&lt;td&gt;Строка&lt;/td&gt;
					&lt;td&gt;Строка&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td&gt;Строка&lt;/td&gt;
					&lt;td&gt;Строка&lt;/td&gt;
					&lt;td&gt;Строка&lt;/td&gt;
				&lt;/tr&gt;
			&lt;/tbody&gt;
		&lt;/table&gt;