//-
	Текст

.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		hr
		h2 Текст
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: p Пример абзаца #[a(href="#") со ссылкой].
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		p Изменение размера шрифта с помощью классов #[code lead], #[code small]:
		div.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit
		div.small Lorem ipsum dolor sit amet, consectetur adipisicing elit
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.text-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.text-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.text-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		p.bg-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.bg-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.bg-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p.bg-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
.row
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
	.col-xs-12.col-sm-6.col-md-6.col-lg-6